<template>
    <div>
        <v-container fluid v-if="friendslist.length > 0">
            <h2 class="white--text">Friendlist</h2>
            <v-layout row wrap>
                <v-flex :key="friend.id" sm3 v-for="friend in friendslist">
                    <div @click="goToProfile(friend.id)" class="friend">
                        <v-avatar
                                size="150"
                                style="background: #D58A4D">
                            <v-img :src="friend.photoURL"></v-img>
                        </v-avatar>
                        <div class="friend-info">
                            <h2 style="color: #D58A4D">{{ friend.nick }}</h2>
                            <h4 style="color: white">{{ friend.email }}</h4>
                        </div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
        <div v-if="friendslist.length === 0">
            <h2 class="white--text">No friends available</h2>
        </div>
        <v-spacer></v-spacer>
        <v-divider></v-divider>
        <FriendsProposition :friendsProposition="friendsProposition"></FriendsProposition>
    </div>
</template>

<script>
    import axios from 'axios'
    import router from '../../router'
    import {mapGetters} from 'vuex'
    import FriendsProposition from './FriendsProposition'

    export default {

        data() {
            return {
                friendslist: '',
                friendsProposition: ''
            }
        },

        methods: {
            goToProfile(id) {
                router.push({name: 'rated', params: {id: id}});
            }
        },

        computed: {
            ...mapGetters([
                'getToken'
            ])
        },

        created() {
            const userID = this.$route.params.id;
            axios.get(`api/users/${userID}/friends`, {
                headers: {
                    Authorization: this.getToken
                }
            }).then(resp => {
                this.friendslist = resp.data;
            }).catch(e => console.log(e));

            axios.get(`/api/users/friendsPropositions`, {
                headers: {
                    Authorization: this.getToken
                }
            }).then(resp => {
                this.friendsProposition = resp.data;
            }).catch(e => console.log(e));
        },

        components: {
            FriendsProposition
        }
    }
</script>

<style scoped>
    .friend {
        cursor: pointer;
        width: 200px;
        height: 270px;
    }

    .friend:hover {
        background: #514D4A;
    }

    .friend-info {
        margin-top: 10px;
        color: #D58A4D;
    }
</style>
