<template>
    <v-container v-if="friendsProposition.length > 0 && this.$route.params.id === this.getUserId">
        <h3 class="white--text">People you may know</h3>
        <v-row class="friendsProposition flex-nowrap">
            <v-col :key="proposition.id" v-for="proposition in friendsProposition">
                <div @click="goToProfile(proposition.id)" class="proposition">
                    <v-avatar
                            size="80"
                            style="background: #D58A4D">
                        <v-img :src="proposition.photoURL"></v-img>
                    </v-avatar>
                    <div class="propInfo">
                        <h3>{{ proposition.nick }}</h3>
                        <h5>{{ proposition.email }}</h5>
                    </div>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapGetters} from 'vuex'
    import router from "../../router";

    export default {

        computed: {
            ...mapGetters([
                'getUserId'
            ])
        },

        props: ['friendsProposition'],

        methods: {
            goToProfile(id) {
                router.push({name: 'rated', params: {id: id}});
            }
        }

    }
</script>

<style scoped>
    .friendsProposition {
        height: 250px;
    }

    .proposition {
        cursor: pointer;
    }

    .proposition:hover {
        background: #514D4A;
    }

    .propInfo {
        color: white;
        margin-top: 5px;
    }

    .propInfo > h3 {
        color: #D58A4D;
    }
</style>
