<template>
    <div style="background: #363231; height: 100%">
        <Navbar></Navbar>
        <Sidebar></Sidebar>

        <v-container v-if="requests.length > 0">
            <v-row align="center" justify="center">
                <v-col md="8" sm="12">
                    <h2 class="white--text">Friend's requests</h2>
                    <v-list class="mt-5" dark style="background: #413C3C;">
                        <v-list-item
                                :key="request.id"
                                class="tile"
                                color="#D58A4D"
                                v-for="request in requests">
                            <v-list-item-content>
                                <v-list-item-title>
                                    <v-avatar
                                            class="profilePic"
                                            size="70"
                                            style="background: #D58A4D">
                                        <v-img :src="request.requester.photoURL"></v-img>
                                    </v-avatar>
                                    <span class="headline" style="margin-left: 10px; color: #D58A4D">{{ request.requester.nick }}</span>
                                    <div class="buttons">
                                        <v-btn @click="addToFriends(request.requester.id)" color="success" dark fab
                                               style="margin: 5px">
                                            <v-icon>mdi-check-circle-outline</v-icon>
                                        </v-btn>
                                        <v-btn @click="declineRequest(request.requester.id)" color="error" dark fab
                                               style="margin: 5px">
                                            <v-icon>mdi-alpha-x-circle-outline</v-icon>
                                        </v-btn>
                                    </div>
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-col>
            </v-row>
        </v-container>

        <v-container v-if="requests.length === 0">
            <v-row>
                <v-col align="center" justify="center">
                    <h3 style="color: white">You have no new notifications</h3>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'

    import Navbar from '../shared/Navbar'
    import Sidebar from '../dashboard/Sidebar'

    export default {
        data() {
            return {
                requests: '',
                ownedByFriends: '',
            }
        },

        computed: {
            ...mapGetters([
                'getToken'
            ])
        },

        methods: {
            refreshAdd(id) {
                this.addToFriends(id);
                this.getFriends();
            },

            addToFriends(id) {
                axios.post(`/api/requests/${id}/reply?status=ACCEPTED`, {}, {
                    headers: {
                        Authorization: this.getToken,
                    }
                })
                    .then(resp => {
                        alert('Added to friendlist')
                        this.getFriends();
                    })
                    .catch(e => console.log(e));
            },

            declineRequest(id) {
                axios.post(`/api/requests/${id}/reply?status=DENIED`, {}, {
                    headers: {
                        Authorization: this.getToken,
                    }
                })
                    .then(resp => {
                        alert('Rejected request')
                        this.getFriends();
                    })
                    .catch(e => console.log(e));
            },

            getFriends() {
                axios.get('api/users/my-requests', {
                    headers: {
                        Authorization: this.getToken,
                    }
                }).then(resp => {
                    this.requests = resp.data

                }).catch(e => console.log(e));
            },
        },


        updated() {
            console.log('elo update')
        },

        created() {
            axios.get('api/users/my-requests', {
                headers: {
                    Authorization: this.getToken,
                }
            }).then(resp => {
                this.requests = resp.data

            }).catch(e => console.log(e));
        },

        components: {
            Navbar,
            Sidebar
        }
    }
</script>

<style scoped>
    .buttons {
        display: inline-block;
        float: right;
    }
</style>
