<template>
    <div>
        <v-container fluid v-if="albums.length > 0">
            <v-row class="my-5 mx-5">
                <v-col :key="record.id" md="3" v-for="record in albums" xs="12">
                    <v-card
                            color="#363231"
                            dark
                            flat
                            width="250">
                        <v-img
                                :src="record.cd.photoURL"
                                aspect-ratio="1"
                                class="grey lighten-2"
                                max-height="250"
                                max-width="250"
                        >
                            <span class="my-3 mx-3" style="float: left" >
                                <ExchangeModal
                                        v-if="getUserId === $route.params.id"
                                        :albumData="record"
                                        @albumExchanged="fetchAlbumData"></ExchangeModal>
                                <AddPhotoToRecordModal
                                    :albumData="record"
                                    @photoAdded="fetchAlbumData"></AddPhotoToRecordModal>
                                <DeleteFromOwned
                                        v-if="getUserId === $route.params.id"
                                        :record="record"
                                        @rerenderWishlist="rerender"></DeleteFromOwned>
                            </span>
                        </v-img>
                        <v-card-title class="justify-center" style="color: #D58A4D"> {{ record.cd.artist }}
                        </v-card-title>
                        <v-card-text>
                            <h3 style="color: white"> {{ record.cd.name }} </h3>
                            <h4 style="color: white"> {{ record.cdType.type }}</h4>
                            <h4 style="color: white"> ({{ record.cd.released }})</h4><br>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <div v-if="albums.length === 0">
            <h2 class="white--text">No owned records available.</h2>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import axios from 'axios'

    import ExchangeModal from '../shared/modals/ExchangeModal'
    import AddPhotoToRecordModal from '../shared/modals/AddPhotoToRecordModal'
    import DeleteFromOwned from '../shared/modals/DeleteFromOwned'

    export default {
        data() {
            return {
                albums: '',
                model: 0,
                showArrows: true,
                hideDelimiters: true,

            }
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getToken',
                'user'
            ]),
        },

        methods: {
            rerender() {
                this.fetchAlbumData();
            },

            fetchAlbumData() {
                const userID = this.$route.params.id;
                const token = this.getToken;

                axios.get(`/api/users/${userID}/cds`, {
                    headers: {
                        Authorization: token,
                    }
                })
                    .then(resp => {
                        this.albums = resp.data
                    })
                    .catch(e => console.log(e));
            },
        },

        created() {
            this.fetchAlbumData();
        },

        components: {
            AddPhotoToRecordModal,
            ExchangeModal,
            DeleteFromOwned
        },
    }
</script>

<style scoped>

</style>
