<template>
    <div>
        <v-container fluid v-if="ratedAlbum.length > 0">
            <v-row class="my-2 mx-2">
                <v-col :key="rate.id" md="3" sm="12" v-for="rate in ratedAlbum">
                    <v-card
                            @click="fetchAllAlbumData(rate)"
                            color="#363231"
                            dark
                            flat
                            hover
                            width="250">
                        <v-img
                                :src="rate.album.photoURL"
                                aspect-ratio="1"
                                class="grey lighten-2"
                                max-height="250"
                                max-width="250"
                        >
                            <EditRatedModal
                                    v-if="getUserId === $route.params.id"
                                    :rate="rate"
                                    @rerenderHook="rerender()"
                                    style="float: left; margin-left: 10px; margin-top: -5px;"></EditRatedModal>
                        </v-img>
                        <v-card-title class="justify-center" style="color: #D58A4D"> {{ rate.album.artist }}
                        </v-card-title>
                        <v-card-text @click="albumId(rate.id)">
                            <h3 style="color: white"> {{ rate.album.name }} </h3>
                            <h4 style="color: white"> ({{ rate.album.released }}) </h4><br>
                            <v-rating
                                    background-color="grey darken-1"
                                    color="yellow darken-3"
                                    empty-icon="$vuetify.icons.ratingFull"
                                    half-increments
                                    hover
                                    readonly
                                    size="30"
                                    v-model="rate.note"
                            ></v-rating>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <RightSidebar :albumsDrawer="albumsDrawer"
                      :listOfComments="listOfComments"
                      :rightDrawer="drawerRight"
                      :tracks="tracks"></RightSidebar>
        <div v-if="ratedAlbum.length === 0">
            <h2 class="white--text">No rated records available.</h2>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import axios from 'axios'
    import EditRatedModal from '../shared/modals/EditRatedModal'
    import RightSidebar from '../dashboard/RightSidebar'

    export default {

        data() {
            return {
                ratedAlbum: '',
                userRate: null,
                albumID: null,
                comment: '',
                usrId: null,
                albumCommentsID: '',
                albumComments: '',

                listOfComments: '',
                tracks: '',
                drawerRight: false,
                albumsDrawer: '',

            }
        },

        computed: {
            ...mapGetters([
                //'getRated',
                'getUserId',
                'getToken',
                'user'
            ])
        },

        methods: {
            fetchAllAlbumData(record) {

                this.drawerRight = !this.drawerRight;
                this.tracks = '';
                this.listOfComments = '';
                this.albumsDrawer = '';

                axios.get('/api/cds/' + record.album.id, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    this.tracks = resp.data.cd.cdtracks;
                    this.listOfComments = resp.data.comments;
                    this.albumsDrawer = record.album;
                }).catch(e => console.log(e));
            },

            albumId(id) {
                this.albumID = id;
            },

            rerender() {
                this.getUserRated();
            },

            getUserRated() {
                const uId = this.$route.params.id;

                const token = this.$store.getters.user.authToken;
                axios.get(`/api/users/${uId}/rated`, {
                    headers: {
                        Authorization: token,
                    }
                })
                    .then(resp => {
                        this.ratedAlbum = resp.data;
                    })
                    .catch(e => console.log(e));
            },
        },

        updated() {
            this.$emit('profilechange')
        },


        created() {
            this.getUserRated();
        },

        components: {
            EditRatedModal,
            RightSidebar
        }
    }
</script>

<style scoped>

</style>
