<template>
    <div>
        <v-btn
                @click="passwordChange = !passwordChange"
                block
                class="my-6"
                height="60"
                style="background: #D58A4D">
            <span class="title" style="color: #363231">Change password</span>
        </v-btn>

        <v-card
                color="#514D4A"
                height="45vh"
                v-if="passwordChange"
                width="50vh">
            <v-card-title>Change password</v-card-title>
            <v-card-text>
                <v-form class="px-2">
                    <v-text-field :type="'password'" class="pt-5" label="Current password" prepend-icon="https"
                                  v-model="curPass"></v-text-field>
                    <v-text-field :type="'password'" class="pt-5" label="New password" prepend-icon="https"
                                  v-model="newPass"></v-text-field>
                    <v-text-field :type="'password'" class="pt-5" label="Confirm password" prepend-icon="https"
                                  v-model="confPass"></v-text-field>
                </v-form>
                <v-btn @click="changePassword()" class="px-4" text>Change</v-btn>
            </v-card-text>
        </v-card>

        <v-btn
                @click="emailChange = !emailChange"
                block
                class="my-6 white--text"
                height="60"
                style="background: #D58A4D">
            <span class="title" style="color: #363231">Change email</span>
        </v-btn>

        <v-card
                color="#514D4A"
                height="45vh"
                v-if="emailChange"
                width="50vh">
            <v-card-title>Change password</v-card-title>
            <v-card-text>
                <v-form class="px-2">
                    <v-text-field class="pt-5" label="Current email" prepend-icon="mail"
                                  v-model="curEmail"></v-text-field>
                    <v-text-field class="pt-5" label="New email" prepend-icon="mail" v-model="newEmail"></v-text-field>
                    <v-text-field class="pt-5" label="Confirm email" prepend-icon="mail"
                                  v-model="confEmail"></v-text-field>
                </v-form>
                <v-btn @click="changeEmail" class="px-4" text>Change</v-btn>
            </v-card-text>
        </v-card>

        <v-btn
                @click="pictureChange = !pictureChange"
                block
                class="my-6 white--text"
                height="60"
                style="background: #D58A4D">
            <span class="title" style="color: #363231">Change profile Picture</span>
        </v-btn>

        <v-card
                class="my-10"
                color="#514D4A"
                v-if="pictureChange"
                width="50vh">
            <v-card-title>Change profile picture</v-card-title>
            <v-card-text class="my-7">
                <form enctype="multipart/form-data">
                    <div class="field">
                        <input
                                @change="selectFile"
                                ref="file"
                                type="file">
                    </div>
                    <v-btn
                            :loading="loading"
                            @click="sendFile"
                            class="ma-2 white--text"
                            color="#D58A4D"
                    >
                        Upload
                        <v-icon dark right>mdi-cloud-upload</v-icon>
                    </v-btn>

                </form>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import axios from 'axios';

    export default {
        name: "Settings",
        data() {
            return {
                curPass: '',
                newPass: '',
                confPass: '',

                curEmail: '',
                newEmail: '',
                confEmail: '',

                passwordChange: false,
                emailChange: false,
                pictureChange: false,
                file: "",
                loading: false,
            }
        },

        computed: {
            ...mapGetters([
                // 'getUser',
                'getUserId',
                'getToken',
                'user'
            ])
        },

        methods: {
            changePassword() {
                const passObj = {
                    oldPassword: this.curPass,
                    newPassword: this.newPass,
                    confirmPassword: this.confPass,
                };
                const userID = this.$route.params.id;

                const token = this.getToken;
                axios.post(`/api/users/${userID}/change-password`, passObj, {
                    headers: {
                        Authorization: token,
                    }
                })
                    .then(resp => {
                        alert('Password has been changed');
                    })
                    .catch(e => console.log(e));
                this.passwordChange = false;
            },

            changeEmail() {
                const emailObj = {
                    oldEmail: this.curEmail,
                    newEmail: this.newEmail,
                    confirmEmail: this.confEmail
                };

                const usrID = this.getUserId;

                const token = this.getToken;
                axios.post(`/api/users/${usrID}/change-email`, emailObj, {
                    headers: {
                        Authorization: token,
                    }
                })
                    .then(resp => {
                        alert('Your email has been changed');
                    })
                    .catch(e => console.log(e));
            },

            selectFile() {
                this.file = this.$refs.file.files[0];
            },

            sendFile() {
                this.loading = true;
                const userId = this.getUserId;

                const formData = new FormData();
                formData.append('file', this.file);

                const token = this.getToken;
                axios.post(`/api/users/${userId}/set-avatar`, formData, {
                    headers: {
                        Authorization: token,
                    }
                })
                    .then(resp => {
                        this.loading = false;
                        alert('Your avatar has been changed')
                        setTimeout(() => {
                            this.$router.push('rated')
                        }, 1000)
                    })
                    .catch(e => console.log(e));

            }
        }
    }
</script>

<style scoped>

</style>
