<template>
    <div style="background: #363231; height: 100%">
        <Navbar></Navbar>
        <v-navigation-drawer app color="#413C3C" v-model="drawer">
            <div style="background: #D58A4D; height: 80px;"></div>

            <v-avatar
                    class="profile mx-10 my-8"
                    size="164"
                    style="background: #D58A4D">
                <v-img :src="activeUser.photoURL"></v-img>
            </v-avatar>

            <h3 class="white--text mb-5" style="text-align: center">{{activeUser.nick}}</h3>
            <h5 class="white--text mb-5" style="text-align: center">{{activeUser.email}}</h5>

            <v-container v-if="getUserId !== this.$route.params.id">
                <v-row justify="center">
                    <v-col sm="2" v-if="activeUser.alreadyFriends !== true">
                        <v-icon
                                @click="addToFriends()"
                                color="white"
                                hover>mdi-account-plus
                        </v-icon>
                    </v-col>
                    <v-col sm="2" v-if="activeUser.alreadyFriends === true">
                        <DeleteFromFriends :activeUser="activeUser"></DeleteFromFriends>
                    </v-col>
                    <v-col sm="2">
                        <v-icon
                                @click="sendMessage(activeUser.id)"
                                color="white"
                                hover>mdi-forum
                        </v-icon>
                    </v-col>
                </v-row>
            </v-container>

            <v-divider></v-divider>

            <v-list class="mt-5" dark style="background: #413C3C;">
                <v-list-item
                        :key="item.title"
                        :to="item.route"
                        class="tile"
                        color="#D58A4D"
                        router v-for="item in sideBar">
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>
                            {{ item.title }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-container>
            <v-row>
                <v-col align="center" justify="center">
                    <router-view @profilechange="profileFetch()"></router-view>
                </v-col>
            </v-row>

        </v-container>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import axios from 'axios';
    import router from '../../router'
    import DeleteFromFriends from '../shared/modals/DeleteFromFriends'
    import Navbar from '../shared/Navbar'

    export default {
        data() {
            return {
                id: this.$route.params.id,
                activeUser: '',
                userID: null,
                drawer: true,
                userParams: null,

                isAdded: 'Add to friends',
                tab: null
            }
        },

        watch: {
            '$route'(to, from) {
                this.id = to.params.id;
            }
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'user',
                'getToken',
                'getFriendObj'
            ]),

            sideBar() {
                const params = {id: this.$route.params.id} // this is reactive
                const routeArray = [{
                    title: 'Rated albums',
                    icon: 'note',
                    route: {name: 'rated', params}
                }, {
                    title: 'Owned',
                    icon: 'favorite',
                    route: {name: 'owned', params}
                }, {
                    title: 'Wishlist',
                    icon: 'search',
                    route: {name: 'wishlist', params}
                }, {
                    title: 'Friends',
                    icon: 'person',
                    route: {name: 'friends', params}
                }, ]
                if(this.$route.params.id === this.getUserId) {
                    routeArray.push({
                        title: 'Settings',
                        icon: 'settings',
                        route: {name: 'settings', params}
                    })
                }
                return routeArray
            },
        },

        methods: {

            addToFriends() {
                const token = this.getToken;

                axios.post('/api/users/' + this.$route.params.id + '/send-request', {}, {
                    headers: {
                        Authorization: token
                    }
                }).then(resp => {
                    alert('Your request has been sent')
                    this.isAdded = 'Your request has been sent'
                }).catch(e => console.log(e));
            },

            ...mapActions([
                'receiverMessageId'
            ]),

            sendMessage(id) {

                axios.post('/api/chats?personId=' + this.$route.params.id, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    router.push('/messages')
                    this.$store.dispatch('receiverMessageId', id)
                }).catch(e => {
                    console.log(e);
                    router.push('/messages')
                    this.$store.dispatch('receiverMessageId', id)
                });

            },

            profileFetch() {
                this.$store.dispatch('fetchFriendData', this.$route.params.id);
                this.activeUser = this.getFriendObj;
            }
        },

        destroyed() {
            this.activeUser = ''
        },

        updated() {
            this.$store.dispatch('fetchFriendData', this.$route.params.id)
            this.activeUser = this.getFriendObj;
        },

        created() {
            this.profileFetch();
        },

        components: {
            DeleteFromFriends,
            Navbar
        }
    }
</script>

<style scoped>

    .userIcon {
        display: inline-block;

    }

    .userTitle {
        display: inline-block;
    }
</style>
