<template>
    <div class="userInfo">
        <v-container fluid>
            <v-card color="transparent">
                <v-row class="mx-5" height="350">
                    <v-col cols="4">
                        <v-avatar
                                class="profile"
                                size="200"
                                style="background: #D58A4D">
                            <v-img :src="activeUser.photoURL"></v-img>
                        </v-avatar>
                    </v-col>
                    <v-col cols="8">
                        <h2 class="white--text mb-5" style="text-align: left">{{activeUser.nick}}</h2>
                        <h3 class="white--text mb-5" style="text-align: left">{{activeUser.email}}</h3>
                        <v-btn @click="addToFriends()" v-if="getUserId != this.$route.params.id">{{ isAdded }}</v-btn>
                        <v-btn @click="sendMessage(activeUser.id)" v-if="getUserId != this.$route.params.id">Send
                            message
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card>
        </v-container>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'
    import router from '../../router'
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                activeUser: '',
                isAdded: 'Add to friends'
            }
        },

        computed: {
            ...mapGetters([
                'getToken',
                'getUserId'
            ]),
        },

        methods: {
            addToFriends() {
                const token = this.getToken;

                axios.post('/api/users/' + this.$route.params.id + '/send-request', {}, {
                    headers: {
                        Authorization: token
                    }
                }).then(resp => {
                    this.isAdded = 'Your request has been sent'
                }).catch(e => console.log(e));
            },

            ...mapActions([
                'receiverMessageId'
            ]),

            sendMessage(id) {
                axios.post('/api/chats?personId=' + this.getReceiverId, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    router.push('/messages')
                    this.$store.dispatch('receiverMessageId', id)
                }).catch(e => {
                    console.log(e);
                    router.push('/messages')
                    this.$store.dispatch('receiverMessageId', id)
                });

            }
        },

        created() {
            const uId = this.$route.params.id;

            const token = this.getToken;
            axios.get(`/api/users/${uId}`, {
                headers: {
                    Authorization: token,
                }
            })
                .then(resp => {
                    this.activeUser = resp.data;
                })
                .catch(e => console.log(e));
        },
    }


</script>
