<template>
    <div>
        <v-container fluid v-if="wishlist.length > 0">
            <v-row class="my-5 mx-5">
                <v-col :key="record.id" md="3" v-for="record in wishlist" xs="12">
                    <v-card
                            color="#363231"
                            dark
                            flat
                            width="250">
                        <v-img
                                :src="record.cd.photoURL"
                                aspect-ratio="1"
                                class="grey lighten-2"
                                max-height="250"
                                max-width="250"
                        >
                            <span class="my-3 mx-3" style="float: left; color: #D58A4D" v-if="getUserId === $route.params.id">
                                <SearchExistingRecordModal
                                        :record="record"></SearchExistingRecordModal>
                                <DeleteFromWishlistModal
                                        :record="record"
                                        @rerenderWishlist="rerender"></DeleteFromWishlistModal>
                            </span>

                        </v-img>
                        <v-card-title class="justify-center" style="color: #D58A4D"> {{ record.cd.artist }}
                        </v-card-title>
                        <v-card-text style="color: white">
                            <h3> {{ record.cd.name }} </h3>
                            <h4> {{ record.cdType.type }} </h4>
                            <h4> ({{ record.cd.released }}) </h4><br>
                            <v-rating
                                    background-color="grey darken-1"
                                    color="yellow darken-3"
                                    empty-icon="$vuetify.icons.ratingFull"
                                    half-increments
                                    hover
                                    readonly
                                    size="30"
                                    v-model="record.cd.rating"
                            ></v-rating>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <div v-if="wishlist.length === 0">
            <h2 class="white--text">Your wishlist is empty!</h2>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'

    import DeleteFromWishlistModal from '../shared/modals/DeleteFromWishlistModal'
    import SearchExistingRecordModal from '../shared/modals/SearchExistingRecordModal'

    export default {

        data() {
            return {
                wishlist: '',
                deleteAlbum: false,
                findUsers: false,
                ownedFriends: '',
            }
        },

        methods: {
            rerender() {
                this.getWishlist()
            },

            getWishlist() {
                const userID = this.$route.params.id;
                axios.get(`/users/${userID}/wish-list`, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    this.wishlist = resp.data.wishList;
                }).catch(e => console.log(e));
            },
        },

        computed: {
            ...mapGetters([
                'getToken',
                'getUserId'
            ]),

        },

        components: {
            DeleteFromWishlistModal,
            SearchExistingRecordModal,
        },

        created() {
            this.getWishlist();
        }
    }
</script>

<style scoped>
</style>
