<template>
    <div>
        <v-col class="mb-2">
            <v-dialog
                    v-model="dialog"
                    width="500">
                <template v-slot:activator="{ on }">
                    <v-icon @click="resetModal" v-on="on">settings_applications</v-icon>
                </template>

                <v-card>
                    <v-card-title
                            class="headline grey darken-4"
                            primary-title
                            style="color: #D58A4D">
                        Filter search
                    </v-card-title>

                    <v-card-text>
                        <v-form>
                            <v-container>
                                <v-row align="center"
                                       justify="start">
                                    <v-col
                                            md="6"
                                            sm="12">
                                        <h4>Search by date</h4>
                                        <v-text-field
                                                label="From"
                                                v-model="dateFrom">
                                        </v-text-field>
                                    </v-col>

                                    <v-col
                                            md="6"
                                            sm="12">
                                        <h4>Search by genre</h4>
                                        <v-text-field
                                                label="Genre"
                                                v-model="genre">
                                        </v-text-field>
                                    </v-col>
                                </v-row>

                                <v-row align="center"
                                       justify="start">
                                    <v-col
                                            md="6"
                                            sm="12">
                                        <v-text-field
                                                label="To"
                                                v-model="dateTo">
                                        </v-text-field>
                                    </v-col>

                                    <v-col
                                            md="6"
                                            sm="12">
                                        <v-text-field
                                                label="Artist"
                                                v-model="artist">
                                        </v-text-field>
                                    </v-col>
                                </v-row>

                                <v-row align="center"
                                       justify="start"
                                       v-if="checkbox">
                                    <v-col md="6"
                                           sm="12">
                                        <v-select
                                                :items="types"
                                                hint="This is required"
                                                label="type"
                                                required
                                                v-model="selectValue">
                                        </v-select>
                                    </v-col>

                                    <v-col md="6"
                                           sm="12">
                                        <v-text-field
                                                label="Record"
                                                v-model="record">
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-card-text>

                    <v-card-actions>
                        <v-checkbox
                                label="Search physical copy"
                                v-model="checkbox"></v-checkbox>
                        <div class="flex-grow-1"></div>
                        <v-btn
                                :disabled="$v.selectValue.$invalid && checkbox"
                                @click="generateQuery"
                                color="orange"
                                text>
                            Apply
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-col>
    </div>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex'
    import router from '../../router'
    import {required} from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                dialog: false,
                dateFrom: null,
                dateTo: null,
                genre: '',
                artist: '',

                filteredAlbums: '',
                page: 1,
                totalPages: null,

                checkbox: false,
                types: ['cd', 'vinyl', 'casette', 'other'],
                selectValue: '',
                record: ''
            }
        },

        validations: {
            selectValue: {
                required
            }
        },

        computed: {
            ...mapGetters([
                'getUserId'
            ])
        },

        methods: {
            ...mapMutations([
                'emptyAdvancedSearch'
            ]),

            resetModal() {
                this.dateFrom = null;
                this.dateTo = null;
                this.genre = '';
                this.artist = '';
                this.record = '';
                this.checkbox = false;
            },

            generateQuery() {

                this.dateFrom === null ? this.dateFrom = 1950 : this.dateFrom;
                if (this.dateTo === null || this.dateTo === undefined || this.dateTo === '') {
                    this.dateTo = 2020;
                }
                let query = '';

                if (this.checkbox) {
                    query = `/api/existing-cds?cd.released=${this.dateFrom}&cd.released=${this.dateTo}`;

                    (this.genre && this.artist && this.record) !== '' ? query = query + `&cd.genre.name=${this.genre}&cd.artist=${this.artist}&cd.name=${this.record}&CdType.type=${this.selectValue}&page=${this.page - 1}&size=16` : null;
                    ((this.genre && this.artist) !== '' && this.record === '') ? query = query + `&cd.genre.name=${this.genre}&cd.artist=${this.artist}&CdType.type=${this.selectValue}&page=${this.page - 1}&size=16` : null;
                    ((this.genre && this.record) !== '' && this.artist === '') ? query = query + `&cd.genre.name=${this.genre}&cd.name=${this.record}&CdType.type=${this.selectValue}&page=${this.page - 1}&size=16` : null;
                    (this.genre !== '' && (this.artist && this.record) === '') ? query = query + `&cd.genre.name=${this.genre}&CdType.type=${this.selectValue}&page=${this.page - 1}&size=16` : null;
                    (this.genre === '' && (this.artist && this.record) !== '') ? query = query + `&cd.artist=${this.artist}&cd.name=${this.record}&CdType.type=${this.selectValue}&page=${this.page - 1}&size=16` : null;
                    ((this.genre && this.record) === '' && this.artist !== '') ? query = query + `&cd.artist=${this.artist}&CdType.type=${this.selectValue}&page=${this.page - 1}&size=16` : null;
                    ((this.genre && this.artist) === '' && this.record !== '') ? query = query + `&cd.name=${this.record}&CdType.type=${this.selectValue}&page=${this.page - 1}&size=16` : null;
                    ((this.genre && this.artist && this.record) === '') ? query = query + `&CdType.type=${this.selectValue}&page=${this.page - 1}&size=16` : null;

                    this.$store.dispatch('fetchPhysical', query)

                } else {
                    query = `/api/cds?released=${this.dateFrom}&released=${this.dateTo}`;

                    (this.genre && this.artist) !== '' ? query = query + `&genre.name=${this.genre}&artist=${this.artist}&page=${this.page - 1}&size=16` : null;
                    (this.genre === '' && this.artist !== '') ? query = query + `&artist=${this.artist}&page=${this.page - 1}&size=16` : null;
                    (this.genre !== '' && this.artist === '') ? query = query + `&genre.name=${this.genre}&page=${this.page - 1}&size=16` : null;
                    (this.genre && this.artist) === '' ? query = query + `&page=${this.page - 1}&size=16` : null;

                    this.$store.dispatch('fetchAdvancedSearch', query);
                }

                if (this.$route.name !== 'SearchResult')
                    router.push('/searchResult');

            },
        },

        destroyed() {
            this.emptyAdvancedSearch();
        }
    }
</script>

<style scoped>

</style>
