<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <v-col class="mx-0 px-0">
            <v-text-field
                    @keypress.13="search()"
                    hide-details
                    prepend-icon="search"
                    single-line
                    style="background-color: #514D4A"
                    v-model="inputValue"
            ></v-text-field>
        </v-col>
    </div>
</template>

<script>
    import router from '../../router'
    import {mapMutations} from 'vuex'

    export default {
        data() {
            return {
                inputValue: ''
            }
        },

        methods: {

            ...mapMutations([
                'setSearchValue'
            ]),

            search() {
                if (this.inputValue !== '') {
                    const albumsObj = {
                        input: this.inputValue,
                        pagin: 0
                    };

                    const artistObj = {
                        input: this.inputValue,
                        pagin: 0
                    }

                    this.$store.dispatch('fetchUsers', this.inputValue);
                    this.$store.dispatch('fetchAlbums', albumsObj);
                    this.$store.dispatch('fetchArtists', artistObj);

                    this.$store.dispatch('fetchSearchValue', this.inputValue);

                    if (this.$route.name !== 'searchResult') {
                        router.push('/searchResult');
                    }
                    this.inputValue = '';
                }
            },
        },
    }
</script>

<style scoped>

</style>
