<template>
    <v-card
            flat
            style="background: #363231"
            tile>
        <v-card-text>
            <div class="row">
                <v-col :key="advanced.id" md="3" sm="6" v-for="advanced in advancedFilter">
                    <v-card
                            @click="handler(advanced)"
                            color="transarent"
                            dark
                            flat
                            hover
                            width="200"
                    >
                        <v-img
                                :src="advanced.photoURL"
                                aspect-ratio="1"
                                class="grey lighten-2"
                                max-height="150"
                                max-width="150"
                                style="margin-left: auto; margin-right: auto"
                        ></v-img>
                        <v-card-text style="text-align: center">
                            <h2 style="color: #D58A4D">{{advanced.artist}}</h2>
                            <h3 style="color: white">{{advanced.name}}</h3>
                            <h3 style="color: white">({{advanced.released}})</h3>

                        </v-card-text>
                    </v-card>
                </v-col>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        data() {
            return {
                advancedFilter: '',
            }
        },

        methods: {
            handler(advanced) {
                this.$emit('onAdvancedDetails', advanced);
            }
        },

        computed: {
            ...mapGetters([
                'getAdvancedSearch'
            ]),

            fetch() {
                const vm = this;
                return vm.advancedFilter = this.getAdvancedSearch;
            },
        },

        watch: {
            fetch(newFetch, oldFetch) {
                console.log('watch')
                console.log(newFetch, oldFetch)
            }
        },

        created() {
            this.advancedFilter = this.getAdvancedSearch;
        }
    }
</script>

<style scoped>

</style>
