<template>
    <div style="background: #363231; height: 100vh">
        <Navbar></Navbar>
        <SideBar></SideBar>
        <RightSidebar
                :albumsDrawer="albumsDrawer"
                :listOfComments="listOfComments"
                :rightDrawer="drawerRight"
                :tracks="tracks"></RightSidebar>
        <v-tabs
                background-color="#D58A4D "
                dark
                v-model="tab">
            <v-tabs-slider></v-tabs-slider>

            <v-tab>
                Users
            </v-tab>

            <v-tab-item>
                <SearchUsers></SearchUsers>
            </v-tab-item>

            <v-tab>
                Albums
            </v-tab>

            <v-tab-item>
                <SearchAlbums @onAlbumDetails="handler($event)"></SearchAlbums>
            </v-tab-item>

            <v-tab>
                Artists
            </v-tab>

            <v-tab-item>
                <SearchArtist @onArtistDetails="handler($event)"></SearchArtist>
            </v-tab-item>

            <v-tab>
                Advanced Search
            </v-tab>

            <v-tab-item>
                <SearchAdvanced @onAdvancedDetails="handler($event)"></SearchAdvanced>
            </v-tab-item>

            <v-tab>
                Physical Albums
            </v-tab>

            <v-tab-item>
                <SearchPhysicalAlbums></SearchPhysicalAlbums>
            </v-tab-item>
        </v-tabs>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import axios from 'axios'

    import Navbar from '../shared/Navbar'
    import SideBar from '../dashboard/Sidebar'
    import RightSidebar from '../dashboard/RightSidebar'

    import SearchUsers from './SearchUsers'
    import SearchAlbums from './SearchAlbums'
    import SearchArtist from './SearchArtist'
    import SearchAdvanced from './SearchAdvanced'
    import SearchPhysicalAlbums from './SearchPhysicalAlbums'

    export default {
        data() {
            return {
                tab: null,
                listOfComments: '',
                tracks: '',
                drawerRight: false,
                albumsDrawer: '',

                searchUserResult: '',
                searchAlbumResult: '',
                searchArtistResult: '',
                searchAdvancedResult: '',
                searchPhysicalResult: ''
            }
        },

        computed: {
            ...mapGetters([
                'getToken',
                'getUserId',
            ])
        },

        methods: {

            handler(album) {
                this.drawerRight = !this.drawerRight;
                this.albumsDrawer = album;
                this.fetchTracksAndComments(album.id);

            },

            fetchTracksAndComments(id) {
                const token = this.getToken;
                axios.get(`/api/cds/${id}`, {
                    headers: {
                        Authorization: token,
                    }
                })
                    .then(resp => {
                        this.tracks = resp.data.cd.cdtracks;
                        this.listOfComments = resp.data.comments;

                    })
                    .catch(e => console.log(e));
            }
        },

        components: {
            Navbar,
            SideBar,
            RightSidebar,
            SearchUsers,
            SearchAlbums,
            SearchArtist,
            SearchAdvanced,
            SearchPhysicalAlbums
        }
    }
</script>

<style scoped>

</style>
