<template>
    <v-card
            flat
            style="background: #363231"
            tile>
        <v-card-text>
            <div class="row">
                <v-col :key="artist.id" md="3" sm="6" v-for="artist in filteredArtist">
                    <v-card
                            @click="handler(artist)"
                            color="transarent"
                            dark
                            flat
                            hover
                            width="200"
                    >
                        <v-img
                                :src="artist.photoURL"
                                aspect-ratio="1"
                                class="grey lighten-2"
                                max-height="150"
                                max-width="150"
                                style="margin-left: auto; margin-right: auto"
                        ></v-img>
                        <v-card-text style="text-align: center">
                            <h2 style="color: #D58A4D">{{artist.artist}}</h2>
                            <h3 style="color: white">{{artist.name}}</h3>
                            <h3 style="color: white">({{artist.released}})</h3>
                        </v-card-text>
                    </v-card>
                </v-col>
            </div>
        </v-card-text>
        <div @click="pagin">
            <v-pagination
                    v-if="filteredArtist"
                    v-model="page"
                    :length="totalPages"
                    :total-visible="7"
                    color="#D58A4D"
                    dark
            ></v-pagination>
        </div>
    </v-card>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex'

    export default {
        data() {
            return {
                filteredArtist: '',
                page: 1,
                totalPages: null,
            }
        },

        methods: {
            ...mapMutations([
                'emptyArtistSearch'
            ]),

            handler(artist) {
                this.$emit('onArtistDetails', artist);
            },

            pagin() {
                const paginObj = {
                    input: this.getSearchValue,
                    pagin: this.page-1,
                };
                this.$store.dispatch('fetchArtists', paginObj)
            },
        },

        computed: {
            ...mapGetters([
                'getArtistSearch',
                'getArtistPagination',
                'getSearchValue'
            ]),

            fetch() {
                const vm = this;
                return [
                    vm.filteredArtist = this.getArtistSearch,
                    vm.page = this.getArtistPagination.pageNumber+1,
                    vm.totalPages = this.getArtistPagination.totalPages
                ];
            }
        },

        watch: {
            fetch(newFetch, oldFetch) {
                console.log('watch')
                console.log(newFetch, oldFetch)
            }
        },

        created() {
            this.filteredArtist = this.getArtistSearch;
            this.page = this.getArtistPagination.pageNumber;
            this.totalPages = this.getArtistPagination.totalPages;
        },

        destroyed() {
            this.emptyArtistSearch();
        }
    }
</script>

<style scoped>

</style>
