<template>
    <v-card flat
            style="background: #363231"
            tile>
        <v-card-text>
            <div class="row" v-if="filteredUsers !== undefined">
                <v-col :key="user.id" md="3" sm="6" v-for="user in filteredUsers">
                    <div class="avatar" @click="goToProfile(user.id)">
                        <v-avatar
                                class="photo"
                                size="150"
                                style="background: #D58A4D;">
                            <v-img :src="user.photoURL"></v-img>
                        </v-avatar>

                        <v-card-text style="text-align: center" class="avartar-info">
                            <h3 style="color: #D58A4D">{{ user.nick }}</h3>
                            <h5 style="color: white">{{ user.email }}</h5>
                        </v-card-text>
                    </div>
                </v-col>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
    import router from '../../router'
    import {mapGetters} from 'vuex'
    import {mapMutations} from 'vuex'

    export default {
        data() {
            return {
                filteredUsers: ''
            }
        },

        methods: {
            ...mapMutations([
                'emptyUserSearch'
            ]),

            goToProfile(id) {
                router.push({name: 'rated', params: {id: id}});
            },
        },


        computed: {
            ...mapGetters([
                'getUserSearch'
            ]),

            fetch() {
                const vm = this;
                return vm.filteredUsers = this.getUserSearch;
            }
        },

        watch: {
            fetch(newFetch, oldFetch) {
                console.log('watch')
                console.log(newFetch, oldFetch)
            }
        },

        created() {
            setTimeout(() => {
                console.log(this.getUserSearch)
            }, 400)
        },

        destroyed() {
            this.emptyUserSearch();
        }
    }
</script>

<style scoped>
    .avatar {
        cursor: pointer;
        width: 150px;
    }

    .avatar:hover {
        background: #514D4A;
    }
</style>
