<template>
    <div>
        <v-card
                flat
                style="background: #363231"
                tile>
            <v-card-text>
                <div class="row">
                    <v-col :key="record.id" md="3" sm="6" v-for="record in filteredAlbums">
                        <v-card
                                @click="handler(record)"
                                color="transarent"
                                dark
                                flat
                                hover
                                width="200"
                        >
                            <v-img
                                    :src="record.photoURL"
                                    aspect-ratio="1"
                                    class="grey lighten-2"
                                    max-height="150"
                                    max-width="150"
                                    style="margin-left: auto; margin-right: auto"
                            ></v-img>
                            <v-card-text style="text-align: center">
                                <h2 style="color: #D58A4D">{{record.artist}}</h2>
                                <h3 style="color: white;">{{record.name}}</h3>
                                <h3 style="color: white;">({{record.released}})</h3>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </div>
            </v-card-text>
            <div @click="pagin">
                <v-pagination
                        v-if="filteredAlbums"
                        v-model="page"
                        :length="totalPages"
                        :total-visible="7"
                        color="#D58A4D"
                        dark
                ></v-pagination>
            </div>
        </v-card>
    </div>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex'

    export default {
        data() {
            return {
                filteredAlbums: '',
                page: 1,
                totalPages: null,
            }
        },

        methods: {
            ...mapMutations([
                'emptyAlbumSearch'
            ]),

            handler(album) {
                this.$emit('onAlbumDetails', album)

            },

            pagin() {
                const paginObj = {
                    input: this.getSearchValue,
                    pagin: this.page-1,
                };
                this.$store.dispatch('fetchAlbums', paginObj)
            },

        },

        computed: {
            ...mapGetters([
                'getAlbumSearch',
                'getAlbumPagination',
                'getSearchValue',
                'getToken',
            ]),

            fetch() {
                const vm = this;
                return [
                    vm.filteredAlbums = this.getAlbumSearch,
                    vm.page = this.getAlbumPagination.pageNumber+1,
                    vm.totalPages = this.getAlbumPagination.totalPages
                ];
            }
        },

        watch: {
            fetch(newFetch, oldFetch) {
                console.log('watch')
                console.log(newFetch, oldFetch)
            }
        },

        created() {
            this.filteredAlbums = this.getAlbumSearch;

            this.page = this.getAlbumPagination.pageNumber;
            this.totalPages = this.getAlbumPagination.totalPages;
        },

        destroyed() {
            this.emptyAlbumSearch();
        }
    }
</script>

<style scoped>

</style>
