<template>
    <v-card
            flat
            style="background: #363231"
            tile>
        <v-card-text>
            <div class="row">
                <v-col md="3" sm="6" v-for="physical in filteredPhysical">
                    <v-card
                            @click="goToProfile(physical.user.id)"
                            color="transarent"
                            dark
                            flat
                            hover
                            width="250"
                    >
                        <v-row>
                            <v-col md="4" sm="12">
                                <v-img
                                        :src="physical.user.photoURL"
                                        aspect-ratio="1"
                                        class="grey lighten-2"
                                        max-height="80"
                                        max-width="80"
                                ></v-img>
                                <h3>{{ physical.user.nick }}</h3>
                            </v-col>

                            <v-col md="8" sm="12">
                                <v-img
                                        :src="physical.cd.photoURL"
                                        aspect-ratio="1"
                                        class="grey lighten-2"
                                        max-height="50"
                                        max-width="50"
                                        style="margin-left: auto; margin-right: auto"
                                ></v-img>
                                <v-card-text style="text-align: center">
                                    <h3 style="color: #D58A4D">{{ physical.cd.artist }}</h3>
                                    <h4 style="color: white">{{ physical.cd.name }}</h4>
                                    <h4 style="color: white">({{ physical.cd.released }})</h4>
                                    <h4>{{ physical.cdType.type }}</h4>
                                </v-card-text>
                            </v-col>
                        </v-row>

                    </v-card>
                </v-col>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex'
    import router from '../../router'

    export default {
        data() {
            return {
                filteredPhysical: '',
            }
        },

        computed: {
            ...mapGetters([
                'getPhysicalSearch'
            ]),

            fetch() {
                const vm = this;
                return vm.filteredPhysical = this.getPhysicalSearch;
            },
        },

        watch: {
            fetch(newFetch, oldFetch) {
                console.log('watch')
                console.log(newFetch, oldFetch)
            }
        },

        methods: {
            ...mapMutations([
                'emptyPhysicalSearch'
            ]),

            goToProfile(id) {
                router.push({name: 'rated', params: {id: id}});
            }
        },

        created() {
            this.filteredPhysical = this.getPhysicalSearch;
        },

        destroyed() {
            this.emptyPhysicalSearch();
        }
    }
</script>

<style scoped>

</style>
