<template>
  <div class="grey darken-2">
    <v-app dark>
      <v-content fluid>

        <router-view>

        </router-view>

      </v-content>
    </v-app>
  </div>
</template>

<script>
  export default {
    name: 'App',
    data: () => ({
      //
    }),
    created() {
      this.$store.dispatch('tryAutoLogin');
    }
  };
</script>

<style >
</style>
