<template>
    <div class="fetchMessages">
        <v-row v-for="chat in chats" :key="chat.participant.nick" >
            <v-card
                    @click="emitPersonChat(chat)"
                    dark
                    flat
                    hover
                    style="width: 100%; background: #514D4A">

                <v-card-text style="color: #D58A4D; ">
                    <v-container>
                        <v-row align="center">
                            <v-avatar
                                    class="profile mx-4"
                                    size="45"
                                    style="background: #D58A4D;">
                                <v-img :src="chat.participant.photoURL"></v-img>
                            </v-avatar>
                            <h3 style="float: left">{{ chat.participant.nick }}</h3>
                        </v-row>
                    </v-container>

                </v-card-text>
            </v-card>
        </v-row>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'
    import router from '../../router'

    export default {
        data() {
            return {
                chats: '',
                interval: 0,

                switcher: false,
                intervalId: ''
            }
        },

        methods: {

            fetchMessages(chat) {
                axios.get('/api/chats/' + chat.participant.id, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    this.$emit('personMessages', resp);

                    const destMsg = resp.data.messages;
                    let messageArray = [];
                    destMsg.forEach(cur => {
                        messageArray.push(
                            {
                                id: cur.id,
                                sender: cur.sender.nick,
                                senderId: cur.sender.id,
                                message: cur.message,
                                time: cur.time,
                                seen: cur.seen,
                                photoURL: cur.sender.photoURL
                            }
                        );
                    })
                    this.$emit('messageBundle', messageArray)

                }).catch(e => console.log(e));
            },

            emitPersonChat(chat) {

                this.$emit('personChat', chat);

                let handler;
                this.switcher = !this.switcher;

                if (this.switcher) {
                    handler = () => {
                        this.fetchMessages(chat)
                    };
                } else {
                    handler = () => {
                        this.fetchMessages(chat)
                    };
                }
                clearInterval(this.intervalId);
                this.intervalId = setInterval(handler, 3000);

                this.checkAsSeen(chat);

            },

            checkAsSeen(chat) {
                axios.post('/api/chats/check-as-seen?personId=' + chat.participant.id, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    console.log(resp)
                }).catch(e => {
                    console.log(e);
                })
            },
        },


        computed: {
            ...mapGetters([
                'getToken',
                'getUserId'
            ])
        },

        created() {
            axios.get('/api/chats', {
                headers: {
                    Authorization: this.getToken
                }
            }).then(resp => {
                this.chats = resp.data;
                this.$emit('fetchChats', resp.data);
            }).catch(e => console.log(e));

        },

        destroyed() {
            console.log('destroj')
            clearInterval(this.intervalId)

        }
    }
</script>

<style scoped>
    .fetchMessages {
        background: #514D4A;
        height: 100%;
        border: 2px solid #413C3C;
        border-radius: 5px;
        overflow-y: auto;
        overflow-x: auto;
        max-height: 500px;
    }
</style>
