<template>
    <div>
        <div class="messageHeader">
            <v-row>
                <v-avatar
                        class="profile"
                        size="45"
                        style="background: #D58A4D">
                    <v-img :src="currentChat.participant.photoURL"></v-img>
                </v-avatar>
                <p class="nick">{{currentChat.participant.nick}}</p>
            </v-row>
        </div>
        <div class="messageContainer">
            <div class="messageArea">
                <v-row v-for="message in messageBundle">
                    <v-card
                            class="singleMessage"
                            dark
                            flat
                    >
                        <v-card-text>
                            <p>
                                <v-avatar
                                        size="30"
                                        style="background: #D58A4D">
                                    <v-img :src="message.photoURL"></v-img>
                                </v-avatar>
                                <span class="messageNick">{{message.sender}}</span>: <span>{{message.message}}</span>
                            </p>
                        </v-card-text>
                    </v-card>
                </v-row>

            </div>
        </div>
        <div class="inputMessage">
            <v-row>
                <v-text-field
                        @keypress.enter="newMessage($event)"
                        filled
                        hide-details
                        single-line
                        solo
                        dark
                        color="#D58A4D"
                        v-model="inputValue"
                ></v-text-field>
            </v-row>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'

    export default {

        data() {
            return {
                recId: null,
                openedChats: '',
                inputValue: '',
                messages: '',

                messagesArray: '',
                isIncoming: true,


                currentPersonChat: '',
            }
        },

        props: ['recieverId', 'currentChat', 'personMessages', 'messageBundle'],

        computed: {
            ...mapGetters([
                'getToken',
                'getUserId',
                'getReceiverId'
            ]),
        },

        methods: {
            newMessage(event) {
                const inputMsg = event.target.value;

                const messageObj = {
                    message: inputMsg,
                    receiverId: this.currentChat.participant.id
                };

                axios.post(`/api/chats/newMessage`, messageObj, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    const messageObj = {
                        id: resp.data.messages[0].id,
                        sender: resp.data.messages[0].sender.nick,
                        senderId: resp.data.messages[0].sender.id,
                        message: resp.data.messages[0].message,
                        time: resp.data.messages[0].time,
                        seen: resp.data.messages[0].seen,
                        photoURL: resp.data.messages[0].sender.photoURL
                    };

                    this.messagesArray.push(messageObj);
                }).catch(e => {
                    console.log(e);
                });

                this.inputValue = '';
            },

            bundleMessages() {
                const destMsg = this.personMessages.data.messages;
                let messageArray = [];
                destMsg.forEach(cur => {
                    messageArray.push(
                        {
                            id: cur.id,
                            sender: cur.sender.nick,
                            senderId: cur.sender.id,
                            message: cur.message,
                            time: cur.time,
                            seen: cur.seen
                        }
                    );
                })

                this.messages = messageArray;
            }
        },

        beforeUpdate() {
            this.messagesArray = this.messageBundle;
        },

        created() {
            console.log(this.openedChats)
        }
    }
</script>

<style scoped>
    .messageContainer {
        background: #514D4A;
        height: 450px;
        border: 1px solid #413C3C;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
        overflow-x: auto;
        max-height: 400px;
    }

    .messageHeader {
        width: 100%;
        height: 50px;
        margin-left: 20px;
    }

    .nick {
        color: #D58A4D;
        font-size: 30px;
    }

    .messageNick {
        color: #D58A4D;
        padding: 0 0 0 5px;
    }

    .singleMessage {
        border: 1px solid #413C3C;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .inputMessage {
        align-self: flex-end;
        height: 50px;
        margin: 10px 10px 10px 0;
    }
</style>
