<template>
    <div style="background: #363231; height: 100%">
        <div>
            <Navbar></Navbar>
            <Sidebar></Sidebar>

            <v-container class="messageContainer" fluid>

                <v-row style="height: 80vh">
                    <v-col sm="3" style="margin-left: auto;">
                        <FetchMessages
                                @fetchChats="messagesList($event)"
                                @messageBundle="messageBundle = $event"
                                @personChat="currentChat = $event"
                                @personMessages="personMessages = $event">
                        </FetchMessages>
                    </v-col>

                    <v-col sm="8" style="margin-right: auto;">
                        <MessageArea
                                :currentChat="currentChat"
                                :messageBundle="messageBundle"
                                :personMessages="personMessages"></MessageArea>
                    </v-col>
                </v-row>
            </v-container>
        </div>
    </div>
</template>

<script>
    import Navbar from '../shared/Navbar'
    import Sidebar from '../dashboard/Sidebar'

    import FetchMessages from './FetchMessages'
    import MessageArea from './MessageArea'

    import {mapGetters} from 'vuex'
    import axios from 'axios'

    export default {
        data() {
            return {
                recieverId: '',
                chats: '',
                currentChat: '',
                personMessages: '',
                messageBundle: '',
            }
        },

        methods: {
            messagesList(event) {
                this.chats = event;
            }
        },

        components: {
            Navbar,
            Sidebar,
            FetchMessages,
            MessageArea
        },

        computed: {
            ...mapGetters([
                'getToken',
                'getUserId',
                'getReceiverId'
            ])
        },

        created(event) {
            if (this.getReceiverId !== null) {
                this.recieverId = this.getReceiverId;

                axios.post('/api/chats?personId=' + this.getReceiverId, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    // console.log(resp);
                }).catch(e => console.log(e));
            }
        },

        beforeDestroy() {
            this.$store.dispatch('resetState');
        }
    }
</script>

<style scoped>
    .messageContainer {
        height: 100%;
    }
</style>
