<template>
    <div>
        <v-img
                height="100vh"
                src="../../assets/signup.jpg">
            <Navbar></Navbar>
            <v-container fill-height>
                <v-col md7 sm12>
                    <v-row
                            align="center"
                            justify="center"
                    >
                        <v-card
                                style="opacity: 0.85"
                                width="50vh">
                            <v-card-title>Sign up to RateIt</v-card-title>
                            <v-card-text>
                                <v-form class="px-2 my-4">
                                    <v-text-field
                                            :error-messages="nameErrors"
                                            @blur="$v.username.$touch()"
                                            class="pt-2"
                                            label="Username"
                                            prepend-icon="person"
                                            v-model="username"></v-text-field>

                                    <v-text-field
                                            :error-messages="emailErrors"
                                            @blur="$v.email.$touch()"
                                            class="pt-5"
                                            label="Email"
                                            prepend-icon="email"
                                            required
                                            v-model="email"></v-text-field>

                                    <v-text-field
                                            :error-messages="passwordErrors"
                                            :type="'password'"
                                            @blur="$v.password.$touch()"
                                            @keyup.enter="register()"
                                            class="pt-5"
                                            label="Password"
                                            prepend-icon="https"
                                            required
                                            v-model="password"></v-text-field>

                                    <v-text-field
                                            :error-messages="conPassErrors"
                                            :type="'password'"
                                            @blur="$v.conPass.$touch()"
                                            @keyup.enter="register()"
                                            class="pt-5"
                                            label="Confirm password"
                                            prepend-icon="replay"
                                            required
                                            v-model="conPass"></v-text-field>
                                </v-form>
                                <v-btn @click="register()" class="px-4" text>Register</v-btn>
                                <h4 class="subheading px-4 py-4">Already have an account?</h4>
                                <v-btn @click="toLogin" class="text-lowercase px-4" text x-small>Log in here</v-btn>
                            </v-card-text>
                        </v-card>
                    </v-row>
                </v-col>
            </v-container>
            <SnackbarSuccess
                    :snackbar="snackbar"
                    :text="text">
            </SnackbarSuccess>
            <SnackbarError
                    :snackbar="snackbarError"
                    :text="textError">

            </SnackbarError>
        </v-img>
    </div>
</template>

<script>
    import Navbar from '../../components/shared/Navbar';
    import SnackbarSuccess from '../shared/SnackbarSuccess'
    import SnackbarError from '../shared/SnackbarError'
    import axios from 'axios'
    import {required, email, minLength} from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                username: '',
                email: '',
                password: '',
                conPass: '',

                snackbar: false,
                text: '',

                snackbarError: false,
                textError: ''
            }
        },

        validations: {
            username: {
                required,
                minLength: minLength(5)
            },
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(6)
            },
            conPass: {
                required,
                minLength: minLength(6)
            }
        },

        computed: {
            nameErrors() {
                const errors = []
                if (!this.$v.username.$dirty) return errors
                !this.$v.username.minLength && errors.push('Name must be at least 5 characters long')
                !this.$v.username.required && errors.push('Name is required.')
                return errors
            },

            emailErrors() {
                const errors = []
                if (!this.$v.email.$dirty) return errors
                !this.$v.email.email && errors.push('Must be valid e-mail')
                !this.$v.email.required && errors.push('E-mail is required')
                return errors
            },

            passwordErrors() {
                const errors = []
                if (!this.$v.password.$dirty) return errors
                !this.$v.password.minLength && errors.push('Password must be at least 6 characters long')
                !this.$v.password.required && errors.push('Password is required')
                return errors
            },

            conPassErrors() {
                const errors = []
                if (!this.$v.conPass.$dirty) return errors
                !this.$v.conPass.minLength && errors.push('Password must be at least 6 characters long')
                !this.$v.conPass.required && errors.push('Password is required')
                return errors
            }
        },

        methods: {
            register() {
                const userObj = {
                    username: this.username,
                    email: this.email,
                    password: this.password,
                    confirmPassword: this.conPass
                };

                axios.post('/api/signup', userObj)
                    .then(resp => {
                        this.snackbar = true;
                        this.text = 'Registered successful';
                        setTimeout(() => {
                            this.$router.push('signin')
                        }, 1500)
                    })
                    .catch(e => {
                        console.log(e);
                        this.snackbarError = true;
                        this.text = 'Register error';

                        this.username = '';
                        this.password = '';
                        this.conPass = '';
                        this.email = '';
                    });
            },

            toLogin() {
                this.$router.push('signin')
            },
        },

        components: {
            Navbar,
            SnackbarSuccess,
            SnackbarError
        }
    }
</script>
<style>
    .input.invalid {
        border: 1px solid red;
        backgroud: #ffc9aa;
    }
</style>
