<template>
    <div>
        <v-img
                height="100vh"
                src="../../assets/signin.jpg">
            <Navbar></Navbar>
            <v-container fill-height>
                <v-col sm12>
                    <v-row
                            align="center"
                            justify="center"
                    >
                        <v-card
                                class="cardlogin"
                                width="50vh">
                            <v-card-title>Login to RateIt</v-card-title>
                            <v-card-text>
                                <v-form class="px-2">
                                    <v-text-field
                                            :error-messages="usernameErrors"
                                            @blur="$v.username.$touch()"
                                            @keyup.enter="login({username: username, password: password})"
                                            class="pt-5"
                                            label="Username"
                                            prepend-icon="person"
                                            v-model="username"></v-text-field>

                                    <v-text-field
                                            :error-messages="passwordErrors"
                                            :type="'password'"
                                            @blur="$v.password.$touch()"
                                            @keyup.enter="login({username: username, password: password})"
                                            class="pt-5"
                                            label="Password"
                                            prepend-icon="https"
                                            v-model="password"></v-text-field>
                                </v-form>
                                <v-btn @click="login({username: username, password: password})" class="px-4" text>Log
                                    in
                                </v-btn>
                                <h4 class="subheading px-4 py-4">Don't have an account yet?</h4>
                                <span @click="toRegister" class="subheading px-4" style="cursor: pointer">Create an account now!</span>
                            </v-card-text>

                        </v-card>
                    </v-row>
                </v-col>
            </v-container>
            <SnackbarSuccess
                    :snackbar="snackbar"
                    :text="text"></SnackbarSuccess>

            <SnackbarError
                    :snackbar="snackbarError"
                    :text="textError"></SnackbarError>
        </v-img>
    </div>
</template>

<script>
    import Navbar from "../../components/shared/Navbar";
    import {mapGetters, mapActions, mapMutations} from 'vuex'

    import router from '../../router'
    import {required, minLength} from 'vuelidate/lib/validators'
    import SnackbarSuccess from '../shared/SnackbarSuccess'
    import SnackbarError from '../shared/SnackbarError'


    export default {

        data() {
            return {
                show: false,
                username: '',
                password: '',

                snackbar: false,
                text: '',

                snackbarError: false,
                textError: '',
            }
        },

        validations: {
            username: {
                required,
                minLength: minLength(5)
            },

            password: {
                required,
                minLength: minLength(6)
            }
        },

        computed: {
            ...mapGetters([
                'getUser',
                'getToken'
            ]),

            usernameErrors() {
                const errors = []
                if (!this.$v.username.$dirty) return errors
                !this.$v.username.minLength && errors.push('Name must be at least 5 characters long')
                !this.$v.username.required && errors.push('Name is required.')
                return errors
            },

            passwordErrors() {
                const errors = []
                if (!this.$v.password.$dirty) return errors
                !this.$v.password.minLength && errors.push('Password must be at least 6 characters long')
                !this.$v.password.required && errors.push('Password is required')
                return errors
            },
        },

        methods: {
            ...mapMutations([
                'activeUser'
            ]),

            ...mapActions([
                'login'
            ]),

            toRegister() {
                this.$router.push('signup');
            },

            login() {
                const userObj = {
                    username: this.username,
                    password: this.password
                };
                this.$store.dispatch('login', {username: userObj.username, password: userObj.password}).then(resp => {

                    this.snackbar = true;
                    this.text = 'Logged successful';
                }).catch(e => {
                    this.snackbarError = true;
                    this.textError = 'Logging error';

                    this.username = '';
                    this.password = '';
                });
            },
        },

        components: {
            Navbar,
            SnackbarSuccess,
            SnackbarError
        }
    }
</script>

<style scoped>
    .cardlogin {
        opacity: 0.5;
    }
</style>
