<template>
    <v-dialog
            v-model="dialog"
            width="500">
        <template v-slot:activator="{ on }">
            <v-icon style="color: #D58A4D" v-on="on">photo</v-icon>
        </template>

        <v-card>
            <v-card-title
                    class="headline grey darken-4"
                    primary-title
                    style="color: #D58A4D">
                Add pictures to album
            </v-card-title>

            <v-carousel
                    :hide-delimiters=true
                    :show-arrows=true
                    height="250px"
                    v-model="model"
            >
                <v-carousel-item
                        :key="photo.id"
                        v-for="photo in albumData.photos"
                >
                    <v-sheet
                            height="100%"
                            tile>
                        <v-row
                                align="center"
                                class="fill-height"
                                justify="center">
                            <v-img
                                    :src="photo.photoUrl"
                                    aspect-ratio="1"
                                    class="grey lighten-2"
                                    max-height="250"
                                    max-width="250">
                            </v-img>
                        </v-row>
                    </v-sheet>
                </v-carousel-item>
            </v-carousel>


            <v-card-text>
                <v-form>
                    <v-container>
                        <v-row align="center"
                               justify="start">
                            <v-col
                                    md="6"
                                    sm="12">
                                <h4>Album Data</h4>
                            </v-col>

                        </v-row>

                        <v-row align="center"
                               justify="start">
                            <v-col
                                    md="5"
                                    sm="12">
                                <v-img
                                        :src="albumData.cd.photoURL"
                                        aspect-ratio="1"
                                        class="grey lighten-2 mt-7"
                                        max-height="100"
                                        max-width="100">
                                </v-img>
                                <h4>{{ albumData.cd.artist }}</h4>
                                <h5 style="color: #D58A4D">{{ albumData.cd.name }}</h5>
                            </v-col>

                            <v-col
                                    v-if="getUserId === $route.params.id"
                                    md="7"
                                    sm="12">
                                <v-card
                                        class="my-10">
                                    <v-card-title>Add record picture</v-card-title>
                                    <v-card-text class="my-7">
                                        <form enctype="multipart/form-data">
                                            <div class="field">
                                                <input
                                                        @change="selectFile"
                                                        ref="file"
                                                        type="file">
                                            </div>
                                            <v-btn
                                                    :loading="loading"
                                                    @click="sendFile"
                                                    class="ma-2 white--text"
                                                    color="blue-grey"
                                            >
                                                Upload
                                                <v-icon dark right>mdi-cloud-upload</v-icon>
                                            </v-btn>

                                        </form>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
            </v-card-text>

            <v-card-actions>
                <div class="flex-grow-1"></div>

            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {mapGetters} from 'vuex'
    import axios from 'axios'

    export default {
        data() {
            return {
                dialog: false,
                file: "",
                loading: false,
                model: 0,
            }
        },

        props: ['albumData'],

        computed: {
            ...mapGetters([
                'getUserId',
                'getToken'
            ])
        },

        methods: {
            selectFile() {
                this.file = this.$refs.file.files[0];
                console.log(this.file);
            },

            sendFile() {
                this.loading = true;
                const formData = new FormData();
                formData.append('file', this.file);

                console.log(formData);

                axios.post(`/api/existing-cd/${this.albumData.id}/add-image`, formData, {
                    headers: {
                        Authorization: this.getToken,
                    }
                })
                    .then(resp => {
                        console.log(resp);
                        alert('Your image has been added')
                        this.$emit('photoAdded')
                        this.loading = false;
                    })
                    .catch(e => console.log(e));
            }
        },
    }
</script>

<style scoped>

</style>
