<template>
    <div>
        <v-dialog
                v-model="deleteOwnedModal"
                width="500">
            <template v-slot:activator="{ on }">
                <v-icon style="color: #D58A4D" v-on="on">delete</v-icon>
            </template>

            <v-card>
                <v-card-title
                        class="headline grey darken-4"
                        primary-title
                        style="color: #D58A4D">
                    Owned
                </v-card-title>

                <v-card-text>
                    <v-form>
                        <v-container>
                            <v-row align="center"
                                   justify="start">
                                <v-col
                                        md="6"
                                        sm="12">
                                    <h4>Delete from owned?</h4>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </v-card-text>

                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn
                            @click="deleteFromOwned()"
                            color="red">
                        Delete
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <SnackbarSuccess
                :snackbar="snackbar"
                :text="text"
        ></SnackbarSuccess>
        <SnackbarError
                :snackbar="snackbarError"
                :text="textError"
        ></SnackbarError>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'
    import SnackbarSuccess from '../SnackbarSuccess'
    import SnackbarError from '../SnackbarError'

    export default {

        data() {
            return {
                deleteOwnedModal: false,
                snackbar: '',
                text: '',
                snackbarError: '',
                textError: ''
            }
        },

        props: ['record'],

        computed: {
            ...mapGetters([
                'getToken'
            ])
        },

        methods: {
            deleteFromOwned() {
                console.log(this.record);
                axios.delete(`/api/user/owned-cds/${this.record.id}`, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    console.log(resp);
                    this.snackbar = true;
                    this.text = 'Album has been deleted';
                    setTimeout(() => {
                        this.snackbar = false;
                        this.$emit('rerenderWishlist')
                    }, 1400)
                }).catch(e => {
                    console.log(e)
                    this.snackbarError = true;
                    setTimeout(() => {
                        this.snackbarError = false;
                    }, 1400)
                    this.textError = 'Error occured'
                });
            },
        },

        components: {
            SnackbarSuccess,
            SnackbarError
        }
    }
</script>

<style scoped>

</style>
