<template>
    <v-dialog
            v-model="deleteFromFriendsFlag"
            width="500">
        <template v-slot:activator="{ on }">
            <v-icon
                    color="white"
                    hover
                    v-on="on">mdi-account-check
            </v-icon>
        </template>

        <v-card>
            <v-card-title
                    class="headline grey darken-4"
                    primary-title
                    style="color: #D58A4D">
                Friends
            </v-card-title>

            <v-card-text>
                <v-form>
                    <v-container>
                        <v-row align="center"
                               justify="start">
                            <v-col
                                    sm="12">
                                <h2>Delete from friends?</h2>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
            </v-card-text>

            <v-card-actions>

                <v-btn
                        @click="deleteFromFriends(activeUser.id)"
                        color="red">
                    <span class="white--text">Delete</span>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import axios from 'axios'
    import { mapGetters } from 'vuex'

    export default {
        data() {
            return {
                deleteFromFriendsFlag: false
            }
        },

        props: ['activeUser'],

        computed: {
          ...mapGetters([
              'getToken'
          ])
        },

        methods: {

            deleteFromFriends(id) {
                axios.delete('/api/friends/'+id, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    console.log(resp);
                    alert('Deleted from friendlist')
                }).catch(e => console.log(e));
            }
        }
    }
</script>

<style scoped>

</style>
