<template>
    <div>
        <v-dialog
                v-model="editRated"
                width="400">
            <template v-slot:activator="{ on }">
                <v-icon
                        class="my-5"
                        color="#D58A4D"
                        v-on="on">mdi-settings
                </v-icon>
            </template>

            <v-card>
                <v-card-title
                        class="headline grey darken-4"
                        primary-title
                        style="color: #D58A4D">
                    Edit rate
                </v-card-title>

                <v-card-text>
                    <v-form>
                        <v-container>
                            <v-row align="center"
                                   justify="start">
                                <v-col
                                        align="center"
                                        justify="start"
                                        sm="12">
                                    <h2>{{ rate.album.artist }}</h2>
                                    <h3 style="color: #D58A4D">{{ rate.album.name }}</h3>
                                    <v-img
                                            :src="rate.album.photoURL"
                                            aspect-ratio="1"
                                            class="grey lighten-2 mt-7"
                                            max-height="150"
                                            max-width="150">
                                    </v-img>

                                    <div @click="rateAlbum(rate.album.id)"
                                    >
                                        <v-rating
                                                background-color="grey darken-1"
                                                color="yellow darken-3"
                                                empty-icon="$vuetify.icons.ratingFull"
                                                half-increments
                                                hover
                                                size="30"
                                                v-model="modalRating"
                                        ></v-rating>
                                    </div>

                                    <v-textarea
                                            @keypress.13="addComment(rate.album.id)"
                                            label="Write a comment"
                                            name="input-3-1"
                                            rows="2"
                                            v-model="comment"
                                    ></v-textarea>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </v-card-text>

                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn
                            color="orange"
                            text>
                        Apply
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <SnackbarSuccess
                :snackbar="snackbar"
                :text="text"></SnackbarSuccess>
        <SnackbarError
                :snackbar="snackbarError"
                :text="textError"></SnackbarError>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'
    import SnackbarSuccess from '../SnackbarSuccess'
    import SnackbarError from '../SnackbarError'

    export default {
        data() {
            return {
                editRated: false,
                comment: '',
                modalRating: null,

                snackbar: '',
                text: '',
                snackbarError: '',
                textError: '',
            }
        },

        props: ['rate'],

        computed: {
            ...mapGetters([
                'getUserId',
                'getToken'
            ])
        },

        methods: {
            rateAlbum(id) {
                console.log(id);

                axios.post(`/api/cds/${id}/rate?note=${this.modalRating}&userId=${this.getUserId}`, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                })
                    .then(resp => {
                        console.log(resp);
                        this.snackbar = true;
                        this.text = 'Rate added';
                        this.modalRating = null;
                        this.comment = '';
                        this.$emit('rerenderHook');
                    })
                    .catch(e => {
                        console.log(e)
                        this.snackbarError = true;
                        this.textError = 'Error occured';
                    });
            },

            addComment(id) {
                const commentObj = {
                    content: this.comment,
                    userId: this.getUserId,
                };

                console.log(commentObj);
                if (this.comment !== '') {
                    axios.post(`/api/cds/${id}/add-comment`, commentObj, {
                        headers: {
                            Authorization: this.getToken
                        }
                    })
                        .then(resp => {
                            console.log(resp);
                            console.log("Komentarz poszedł");
                            this.snackbar = true;
                            this.text = 'Comment added';
                            setTimeout(() => {
                                this.snackbar = false;
                            }, 1500);
                            this.comment = '';
                            this.$emit('rerenderHook');
                        })
                        .catch(e => {
                            console.log(e)
                            this.snackbarError = true;
                            this.textError = 'Error occured';
                            setTimeout(() => {
                                this.snackbarError = false;
                            }, 1500)
                        });
                }
            }
        },

        updated() {
            setTimeout(() => {
                this.snackbar = false;
                this.snackbarError = false
            }, 1400)
        },

        components: {
            SnackbarSuccess,
            SnackbarError
        }
    }
</script>

<style scoped>

</style>
