<template>
    <v-dialog
            v-model="dialog"
            width="500">
        <template v-slot:activator="{ on }">
            <v-icon style="color: #D58A4D" v-on="on">settings_applications</v-icon>
        </template>

        <v-card>
            <v-card-title
                    class="headline grey darken-4"
                    primary-title
                    style="color: #D58A4D">
                Exchange record to friend
            </v-card-title>

            <v-card-text>
                <v-form>
                    <v-container>
                        <v-row align="center"
                               justify="start">
                            <v-col
                                    md="6"
                                    sm="12">
                                <h4>Album Data</h4>
                            </v-col>

                        </v-row>

                        <v-row align="center"
                               justify="start">
                            <v-col
                                    md="3"
                                    sm="12">
                                <v-img
                                        :src="albumData.cd.photoURL"
                                        aspect-ratio="1"
                                        class="grey lighten-2 mt-7"
                                        max-height="100"
                                        max-width="100">
                                </v-img>
                                <h4>{{ albumData.cd.artist }}</h4>
                                <h5 style="color: #D58A4D">{{ albumData.cd.name }}</h5>
                            </v-col>

                            <v-col
                                    md="9"
                                    sm="12">
                                <v-card class="friendsContainer">
                                    <v-card-title>Exchange record to</v-card-title>
                                    <v-card
                                            :key="friend.id"
                                            @click="exchangeTo(friend)"
                                            class="friend"
                                            hover
                                            v-for="friend in friendslist"
                                    >
                                        <v-row>
                                            <v-col sm="2">
                                                <v-avatar
                                                        class="profile"
                                                        size="50"
                                                        style="background: #D58A4D">
                                                    <v-img
                                                            :src="friend.photoURL"
                                                            class="mx-5"></v-img>
                                                </v-avatar>
                                            </v-col>

                                            <v-col sm="6">
                                                <v-card-text>{{friend.nick}}</v-card-text>
                                            </v-col>
                                        </v-row>
                                    </v-card>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'

    export default {
        data() {
            return {
                dialog: false,
                friendslist: '',
            }
        },

        props: ['albumData'],

        computed: {
            ...mapGetters([
                'getToken'
            ])
        },

        methods: {
            exchangeTo(friend) {
                axios.post(`/api/users/${friend.id}/give/${this.albumData.id}`, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    console.log(resp);
                    alert('You exchanged album')
                    this.$emit('albumExchanged')
                }).catch(e => console.log(e));
            },
        },

        created() {
            axios.get(`/api/users/my-friends`, {
                headers: {
                    Authorization: this.getToken
                }
            }).then(resp => {
                console.log(resp);
                this.friendslist = resp.data;
            }).catch(e => console.log(e));
        }
    }
</script>

<style scoped>
    .friendsContainer {
        max-height: 400px;
        overflow-y: auto;
    }

    .friend {
        height: 70px;
    }
</style>
