<template>
    <div>
        <v-dialog
                v-model="dialog"
                width="500">
            <template v-slot:activator="{ on }">
                <v-btn
                        class="my-5"
                        color="#D58A4D"
                        v-on="on"
                >Rate It
                </v-btn>
            </template>

            <v-card>
                <v-card-title
                        class="headline grey darken-4"
                        primary-title
                        style="color: #D58A4D">
                    Rate it
                </v-card-title>

                <v-card-text>
                    <v-form>
                        <v-container>
                            <v-row align="center"
                                   justify="start">
                                <v-col
                                        md="6"
                                        sm="12">
                                    <h4>Album Data</h4>
                                </v-col>

                            </v-row>

                            <v-row align="center"
                                   justify="start">
                                <v-col
                                        md="6"
                                        sm="12">
                                    <v-img
                                            :src="albumsDrawer.photoURL"
                                            aspect-ratio="1"
                                            class="grey lighten-2 mt-7"
                                            max-height="100"
                                            max-width="100">
                                    </v-img>

                                    <div @click="rateAlbum(albumsDrawer.id, albumsDrawer.artist, albumsDrawer.name, albumsDrawer.rating, albumsDrawer.released)"
                                    >
                                        <v-rating background-color="grey darken-1"
                                                  color="yellow darken-3"
                                                  empty-icon="$vuetify.icons.ratingFull"
                                                  half-increments
                                                  hover
                                                  size="30"
                                                  v-model="modalRating"
                                        ></v-rating>
                                    </div>

                                    <v-textarea
                                            @keypress.13="addComent(albumsDrawer.id, albumsDrawer.artist, albumsDrawer.name, albumsDrawer.rating, albumsDrawer.released)"
                                            label="Write a comment"
                                            name="input-3-1"
                                            v-model="comment"
                                    ></v-textarea>

                                    <v-select
                                            :items="types"
                                            label="Disc Type"
                                            required
                                            v-model="discType">
                                    </v-select>
                                </v-col>

                                <v-col
                                        md="6"
                                        sm="12">
                                    <h4>{{ albumsDrawer.artist }}</h4>
                                    <h5 style="color: #D58A4D">{{ albumsDrawer.name }}</h5>
                                    <h5>Tracklist:</h5>
                                    <h5 v-for="(track, index) in tracks">
                                        {{ index+1}}. {{ track.title }}
                                    </h5>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </v-card-text>

                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn
                            :disabled="$v.discType.$invalid"
                            @click="addAlbum(albumsDrawer.id, albumsDrawer.artist, albumsDrawer.name, albumsDrawer.rating, albumsDrawer.released)"
                            color="orange"
                            text>
                        Add to owned
                    </v-btn>

                    <v-btn
                            :disabled="$v.discType.$invalid"
                            @click="addToWishlist(albumsDrawer)"
                            color="orange"
                            text>
                        Add to wishlist
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <SnackbarSuccess
                :snackbar="snackbar"
                :text="text"></SnackbarSuccess>

        <SnackbarError>

        </SnackbarError>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'
    import {required} from 'vuelidate/lib/validators'
    import {eventBus} from '../../../main'
    import SnackbarSuccess from '../SnackbarSuccess'
    import SnackbarError from '../SnackbarError'

    export default {
        data() {
            return {
                dialog: false,
                modalRating: null,
                comment: '',

                discType: '',
                types: ['cd', 'vinyl', 'cassette', 'other'],

                snackbar: false,
                text: '',
                snackbarError: false,
                textError: '',
            }
        },

        props: ['albumsDrawer', 'tracks'],

        validations: {
            discType: {
                required
            }
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getToken'
            ])
        },

        methods: {
            addAlbum(id) {
                axios.post(`/api/users/${this.getUserId}/add-cd/${id}?type=${this.discType}`, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                })
                    .then(resp => {
                        console.log(resp);
                        this.discType = '';
                        // this.$emit('updateAlbumsCount', resp.data)
                        eventBus.$emit('updateAlbumsCount', resp.data)
                        this.text = 'Album has been added';
                        this.snackbar = true;
                    })
                    .catch(e => {
                        console.log(e);
                        this.snackbarError = true;
                        this.textError = 'Error occured';
                    });

                console.log(this.discType)
            },

            rateAlbum(id) {
                axios.post(`/api/cds/${id}/rate?note=${this.modalRating}&userId=${this.getUserId}`, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                })
                    .then(resp => {
                        console.log(resp);
                        this.modalRating = null;
                        // this.$emit('updateAlbumsCount', resp.data)
                        eventBus.$emit('updateAlbumsCount', resp.data)
                        this.snackbar = true;
                        this.text = 'Album has been rated'
                        this.comment = '';
                    })
                    .catch(e => {
                        console.log(e)
                        this.snackbarError = true;
                        this.textError = 'Error occured';
                    });
            },

            addComent(id) {
                const commentObj = {
                    content: this.comment,
                    userId: this.getUserId,
                };

                console.log(commentObj);
                if (this.comment !== '') {
                    axios.post(`/api/cds/${id}/add-comment`, commentObj, {
                        headers: {
                            Authorization: this.getToken
                        }
                    })
                        .then(resp => {
                            console.log(resp);
                            this.snackbar = true;
                            this.text = 'Comment was added.';
                            this.comment = '';
                            this.$emit('commentAdded', id)
                        })
                        .catch(e => {
                            console.log(e)
                            this.snackbarError = true;
                            this.textError = 'Error occured';
                        });
                }
            },

            addToWishlist(album) {
                console.log(album);

                axios.post(`/wish-list?cdId=${album.id}&type=${this.discType}`, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    console.log(resp);
                    this.snackbar = true;
                    this.text = 'Album has been added to wishlist';
                }).catch(e => {
                    console.log(e);
                    this.snackbarError = true;
                    this.textError = 'Error occured';
                });
            }
        },

        updated() {
            setTimeout(() => {
                this.snackbar = false;
                this.snackbarError = false;
            }, 1400)

        },

        components: {
            SnackbarSuccess,
            SnackbarError
        }
    }
</script>

<style scoped>

</style>
