<template>
    <v-dialog
            v-model="findUsersModal"
            width="500">
        <template v-slot:activator="{ on }">
            <v-icon @click="searchFriend()" v-on="on">person</v-icon>
        </template>

        <v-card>
            <v-card-title
                    class="headline grey darken-4"
                    primary-title
                    style="color: #D58A4D">
                Friends who own this album
            </v-card-title>

            <v-card-text>
                <v-form>
                    <v-container>
                        <v-row
                                align="center"
                                class="friendsContainer"
                                justify="start">
                            <v-col
                                    sm="12">
                                <v-card class="my-10 friendsContainer">
                                    <v-card-title>Friends who own this record</v-card-title>
                                    <v-card
                                            :key="friend.id"
                                            @click="goToProfile(friend.user.id)"
                                            class="friend mx-5 my-5"
                                            hover
                                            v-for="friend in ownedFriends"
                                    >
                                        <v-row>
                                            <v-col sm="2">
                                                <v-avatar
                                                        class="profile"
                                                        size="50"
                                                        style="background: #D58A4D">
                                                    <v-img :src="friend.user.photoURL"></v-img>
                                                </v-avatar>
                                            </v-col>

                                            <v-col sm="6">
                                                <v-card-text>{{friend.user.nick}}</v-card-text>
                                            </v-col>
                                        </v-row>
                                    </v-card>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'
    import router from '../../../router'

    export default {
        data() {
            return {
                findUsersModal: false,
                ownedFriends: '',
            }
        },

        props: ['record'],

        methods: {
            searchFriend() {
                console.log(this.record);

                axios.get(`/wish-list/${this.record.id}/friends-cds`, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    console.log(resp)

                    this.ownedFriends = resp.data;
                }).catch(e => console.log(e));
            },

            goToProfile(id) {
                console.log(id);
                router.push({name: 'user', params: {id: id}});
            }
        },

        computed: {

            ...mapGetters([
                'getToken'
            ]),

            friendList(record) {
                const params = {id: record.user.id}
                return [{
                    title: 'User',
                    icon: 'note',
                    route: {name: 'user', params}
                }]
            }
        }

    }
</script>

<style scoped>
    .friendsContainer {
        max-height: 350px;
        overflow-y: auto;
    }

    .friend {
        height: 70px;
    }
</style>
