<template>
    <div>
        <v-toolbar
                flat
                height=82
                style="background-color: #413C3C">
            <v-toolbar-title class="display-2" my-3 style="width: 800px;">
                <v-row align="center">
                    <v-col @click="goToDashboard()" sm="1" style="cursor: pointer">
                        <v-icon>mdi-home</v-icon>
                    </v-col>
                    <v-col sm="6">
                        <search @searchApplied="searchApplied()"></search>
                    </v-col>
                    <v-col sm="2">
                        <advanced-search></advanced-search>
                    </v-col>
                    <v-col v-if="notificationVisible">
                        <Notification></Notification>
                    </v-col>
                </v-row>
            </v-toolbar-title>

            <v-toolbar-items>
                <v-btn @click="goToNotification()" class="btn mx-2" color="#D58A4D" text>
                    <v-icon>mdi-bell-outline</v-icon>
                </v-btn>

                <v-btn @click="goToMessages()" class="btn mx-2" color="#D58A4D" text>
                    <v-icon>mdi-comment-multiple</v-icon>
                </v-btn>

                <v-btn @click="goToRanking()" class="btn mx-2" color="#D58A4D" text>
                    <v-icon>mdi-chart-bar</v-icon>
                </v-btn>

                <v-btn @click="logout" color="#D58A4D" text>
                    <v-icon>mdi-exit-to-app</v-icon>
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
    </div>
</template>

<script>
    import Search from '../search/Search'
    import AdvancedSearch from '../search/AdvancedSearch'
    import Notification from './Notification'
    import {mapGetters} from 'vuex'
    import router from '../../router'
    import axios from 'axios'

    export default {
        data() {
            return {
                notificationVisible: true,
            }
        },

        components: {
            Search,
            AdvancedSearch,
            Notification
        },

        computed: {
          ...mapGetters(['getToken'])
        },

        methods: {
            goToNotification() {
                router.push('/notification')
            },

            goToMessages() {
                router.push('/messages')
            },

            goToRanking() {
                router.push('/ranking')
            },

            goToDashboard() {
                router.push('/dashboard')
            },

            logout() {
                this.$store.dispatch('logout');
                alert('You have been logged out');
            },

            searchApplied() {
                this.$emit('searchApplied');
            }
        }
    }
</script>

<style scoped>

</style>
