<template>

    <div style="background: #363231; height: 100%" >
        <Navbar></Navbar>
        <Sidebar></Sidebar>


        <v-container fluid>
            <v-row
                    align="center"
                    class="my-3 ml-3"
                    justify="center"
                    >

                <v-col
                        :key="record.id"
                        md="8"
                        v-for="(record, index) in ranking"
                        xs="12">
                    <v-card
                            color="transarent"
                            dark
                            flat
                            hover
                            width="300">
                        <v-img
                                aspect-ratio="1"
                                class="grey lighten-2"
                                max-height="300"
                                max-width="300"
                                :src="record.photoURL"
                                style="margin-left: auto; margin-right: auto"
                        ></v-img>
                        <v-card-title style="text-align: center"> {{ index + 1 }}. {{ record.artist }}  </v-card-title>
                        <v-card-text style="color: #D58A4D; text-align: center">
                            <span style="text-align: center"> {{ record.name }}  </span>
                            <span style="text-align: center"> ( {{ record.released }} ) </span><br>
                            <v-rating
                                    background-color="grey darken-1"
                                    color="yellow darken-3"
                                    empty-icon="$vuetify.icons.ratingFull"
                                    half-increments
                                    hover
                                    readonly
                                    size="50"
                                    v-model="record.rating"
                            ></v-rating>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import axios from 'axios/index'
    import { mapGetters } from 'vuex'
    import Navbar from './Navbar'
    import Sidebar from '../dashboard/Sidebar'

    export default {
        data() {
            return {
                drawer: true,
                ranking: '',
                rating: 4,
            }
        },

        computed: {
            ...mapGetters([
                'getToken',
                'getUserId'
            ])
        },

        methods: {
            logout() {
                axios.post(`/api/users/${this.userId}/logout`, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                })
                    .then(resp => {
                        alert('You have been logged out');
                        this.$store.dispatch('logout')
                    })
                    .catch(e => console.log(e));
            },
        },

        created() {
            axios.get('/api/cds/ranking', {
                headers: {
                    Authorization: this.getToken
                }
            })
                .then(resp => {
                    this.ranking = resp.data.slice(0,10);
                })
                .catch(e => console.log(e));
        },

        components: {
            Navbar,
            Sidebar
        }
    }
</script>

<style scoped>

</style>
