<template>
    <v-snackbar
            :timeout=timeout
            bottom="bottom"
            color="error"
            right="right"
            v-model="snackbar"
    >
        <h4 style="text-align: center;">{{ text }}</h4>
        <v-btn
                @click="snackbar = false"
                dark
                text
        >Close
        </v-btn>
    </v-snackbar>
</template>

<script>
    export default {
        data() {
            return {
                timeout: 1500
            }
        },

        props: ['text', 'snackbar']
    }
</script>

<style scoped>

</style>
