<template>
    <nav>
        <v-toolbar flat height=82 style="background-color: #413C3C">
            <v-toolbar-title class="display-2 white--text " style=" cursor: pointer">
                <router-link tag="div" to="/dashboard">
                    RateIt
                </router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>

            <v-toolbar-items>
                <v-btn class="btn mx-2" color="#D58A4D" text to="/dashboard">
                    <span>Dashboard</span>
                    <v-icon></v-icon>
                </v-btn>
                <v-btn @click="logout" color="#D58A4D" text>
                    <span>Log Out</span>
                    <v-icon>mdi-export-variant</v-icon>
                </v-btn>
            </v-toolbar-items>

        </v-toolbar>
        <v-divider dark></v-divider>
    </nav>
</template>

<script>
    import {mapGetters} from 'vuex'
    import axios from 'axios'

    export default {
        computed: {
            ...mapGetters([
                'getUserId',
                'getToken'
            ])
        },

        methods: {
            logout() {
                console.log(this.id);
                alert("You have been logged out");
                const userID = this.getUserId;

                const token = this.getToken;
                axios.post(`/api/users/${userID}/logout`, {}, {
                    headers: {
                        Authorization: token,
                    }
                })
                    .then(resp => {
                        console.log(resp);
                        this.$store.dispatch('logout');
                    })
                    .catch(e => console.log(e));
            }
        }
    }
</script>

<style scoped>

</style>
