<template>
    <div>
        <v-toolbar color="#333399" dense height="60">
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>RateIt <br> <h6 class="subheading">Administration panel</h6></v-toolbar-title>
            <v-spacer></v-spacer>

        </v-toolbar>

        <v-navigation-drawer
                app
                color="#333399"
                dark
                v-model="drawer">
            <v-list class="mt-12" style="background: #333399;">
                <v-list-item
                        :key="item.title"
                        @click="swapComponent(item.component)"
                        class="mt-1"
                        link
                        v-for="item in items"
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <div class="pa-2">
                <v-btn @click="logout" block>Logout</v-btn>
            </div>
        </v-navigation-drawer>

        <v-container>
            <v-row>
                <v-col align="center" justify="center">
                    <component :is="currentComponent"></component>
                </v-col>
            </v-row>

        </v-container>
    </div>
</template>

<script>
    import Users from "./Users";
    import NewAlbum from "./NewAlbum";
    import Records from './Records'
    import Download from './Download'
    import axios from 'axios';
    import {mapGetters} from 'vuex';
    import {mapMutations} from 'vuex';

    export default {
        data() {
            return {
                currentComponent: null,
                componentsArray: ['NewUser'],
                drawer: true,
                items: [
                    {title: 'Dashboard', icon: 'dashboard',},
                    {title: 'Users', icon: 'account_box', component: 'Users'},
                    {title: 'Add new album', icon: 'music_note', component: 'NewAlbum'},
                    {title: 'Records', icon: 'library_music', component: 'Records'},
                    {title: 'Report download', icon: 'cloud_download', component: 'Download'},
                ],
            }
        },

        components: {
            Users,
            NewAlbum,
            Records,
            Download
        },

        computed: {
            ...mapGetters([
                'getUser',
                'getUserId',
                'getToken'
            ])
        },

        methods: {
            ...mapMutations([
                'logOut'
            ]),
            swapComponent(component) {
                this.currentComponent = component;
                console.log(this.currentComponent);
            },

            logout() {
                alert('You have been logged out');
                const userID = this.getUserId;
                console.log('userID = ' + this.getUserId);
                axios.post(`/api/logout`, {}, {
                    headers: {
                        Authorization: this.getToken
                    }
                })
                    .then(resp => {
                        console.log(resp);
                        this.logout();
                        this.$router.push('signin')
                    })
                    .catch(e => console.log(e));
            }
        }
    }
</script>

<style scoped>

</style>
