<template>
    <div>
        <v-container>
            <v-col md="4" sm="12">
                <h3>Input the day value</h3>
                <v-row justify="center">

                    <v-form class="px-2 my-4">
                        <v-text-field
                                @input="dayVal"
                                class="pt-5"
                                v-model="days"></v-text-field>
                    </v-form>
                </v-row>

                <v-row justify="center">
                    <div @click="download" class="my-2">
                        <v-btn
                                color="success"
                                dark
                                x-large
                        >Download Admin report
                        </v-btn>
                    </div>
                </v-row>
            </v-col>
        </v-container>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'

    export default {
        data() {
            return {
                days: null,
            }
        },

        computed: {
            ...mapGetters([
                'getToken'
            ])
        },

        methods: {
            download() {
                console.log(this.days);

                axios.get(`/api/generate-raport?days=${this.days}`, {
                    responseType: 'arraybuffer',
                    headers: {
                        Authorization: this.getToken
                    }
                })
                    .then((response) => {
                        console.log(response)

                        let blob = new Blob([response.data], {type: 'application/pdf'})
                        let url = window.URL.createObjectURL(blob);

                        window.open(url);
                    })
            },

            dayVal(val) {
                console.log(val);
                this.days = val;
            },
        }
    }
</script>

<style scoped>

</style>
