<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div style="background: #363231; height: 100%">
        <navbar></navbar>
        <sidebar :albumCountUpdate="albumCountUpdate"></sidebar>
        <right-sidebar
                :albumsDrawer="albumsDrawer"
                :listOfComments="listOfComments"
                :rightDrawer="drawerRight"
                :tracks="tracks"
        >
        </right-sidebar>

        <div>
            <DashboardMain @rightDrawerData="rightDrawerData($event)" @albumsCountInfo="updateCount($event)"></DashboardMain>
        </div>
    </div>
</template>

<script>

    import Sidebar from './Sidebar'
    import RightSidebar from './RightSidebar'
    import Navbar from '../shared/Navbar'
    import DashboardMain from './DashboardMain'

    import router from '../../router'
    import axios from 'axios/index'
    import {mapGetters} from 'vuex'

    export default {
        data() {
            return {
                mainDash: true,

                token: '',
                userId: null,
                albums: '',
                page: 1,
                totalPages: null,

                listOfComments: '',
                tracks: '',
                drawerRight: false,
                albumsDrawer: '',

                filteredData: '',

                tempToggle: false,
                filteredAlbums: '',
                filteredUsers: '',
                filteredArtist: '',

                albumCountUpdate: '',
            }
        },

        computed: {
            ...mapGetters([
                'getToken',
                'getUserId',
            ]),
        },

        methods: {
            rightDrawerData(data) {
                this.tracks = data[0];
                this.listOfComments = data[1];
                this.drawerRight = data[2];
                this.albumsDrawer = data[3];
            },

            updateCount(event) {
                this.albumCountUpdate = event;
            }
        },

        components: {
            Sidebar,
            RightSidebar,
            Navbar,
            DashboardMain,
        }
    }
</script>

<style scoped>

</style>
