<template>
    <div>
        <v-container fluid>
            <v-row class="my-3 ml-3">
                <v-col
                        :key="record.id"
                        md="3"
                        sm="12"
                        v-for="record in albums"
                        xl="2">
                    <v-card
                            @click="fetchAllAlbumData(record.id)"
                            color="#363231"
                            dark
                            flat
                            hover
                            width="200"
                    >
                        <v-img
                                :src="record.photoURL"
                                aspect-ratio="1"
                                class="grey lighten-2"
                                max-height="150"
                                max-width="150"
                                style="margin-left: auto; margin-right: auto;"
                        ></v-img>
                        <v-card-title><h5 style="text-align: center">{{ record.artist }}</h5></v-card-title>
                        <v-card-text style="color: #D58A4D; text-align: center">
                            <span class="subheading"> {{ record.name }} </span>
                            <span> ({{ record.released }}) </span><br>

                            <v-rating
                                    background-color="grey darken-1"
                                    color="yellow darken-3"
                                    empty-icon="$vuetify.icons.ratingFull"
                                    half-increments
                                    hover
                                    readonly
                                    size="30"
                                    v-model="record.rating"
                            ></v-rating>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <RightSidebar
                :albumsDrawer="albumsDrawer"
                :listOfComments="listOfComments"
                :rightDrawer="drawerRight"
                :tracks="tracks"
                @updatedAlbumsCount="albumsCount($event)"
                @commentsUpdate="fetchAllAlbumData($event)"></RightSidebar>
        <div @click="pagin">
            <v-pagination :length="totalPages"
                          :total-visible="7"
                          color="#D58A4D"
                          dark
                          v-if="totalPages > 1 "
                          v-model="page"
            ></v-pagination>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'
    import RightSidebar from './RightSidebar'

    export default {
        data() {
            return {
                albums: [],
                page: 1,
                totalPages: null,

                tracks: '',
                listOfComments: '',
                drawerRight: false,
                albumsDrawer: ''
            }
        },

        props: ['filteredAlbums', 'filteredUsers', 'filteredArtist'],

        methods: {
            pagin() {
                axios.get(`/api/cds?size=8&page=${this.page - 1}`, {
                    headers: {
                        Authorization: this.token,
                    }
                })
                    .then(resp => {
                        const albumsData = resp.data.cds;
                        this.albums = albumsData;
                    })
                    .catch(e => console.log(e));
            },

            fetchAllAlbumData(id) {
                this.drawerRight = !this.drawerRight;
                this.tracks = '';
                this.listOfComments = '';
                this.albumsDrawer = '';

                axios.get('/api/cds/' + id, {
                    headers: {
                        Authorization: this.getToken
                    }
                }).then(resp => {
                    this.tracks = resp.data.cd.cdtracks;
                    this.listOfComments = resp.data.comments;
                    this.albumsDrawer = resp.data.cd;
                }).catch(e => console.log(e));
            },

            albumsCount(event) {
                this.$emit('albumsCountInfo', event)
            }
        },

        created() {
            this.token = this.getToken;

            axios.get('/api/cds?size=8&page=0', {
                headers: {
                    Authorization: this.token,
                }
            })
                .then(resp => {
                    const albumsData = resp.data.cds;
                    this.albums = albumsData;
                    const totalPages = resp.data.context.totalPages;
                    this.totalPages = totalPages;
                })
                .catch(e => console.log(e));
        },

        computed: {
            ...mapGetters([
                'getToken',
                'getUserId',
            ])
        },

        components: {
            RightSidebar
        }
    }
</script>

<style scoped>

</style>
