<template>
    <v-navigation-drawer app class="py-12 " color="#363231" right v-model="rightDrawer">
        <div v-if="albumsDrawer !== ''">
            <v-spacer class="py-1"></v-spacer>
            <v-img
                    :src="albumsDrawer.photoURL"
                    aspect-ratio="1"
                    class="grey lighten-2 mt-7"
                    max-height="100"
                    max-width="100">
            </v-img>
            <h4 class="white--text">{{ albumsDrawer.artist }}</h4>
            <h5 style="color: #D58A4D">{{ albumsDrawer.name }}</h5>
            <h5 class="white--text">Tracklist:</h5>
            <h5 class="white--text" v-for="(track, index) in tracks">
                {{ index+1}}. {{ track.title }} <h5 class="grey--text">({{track.artist}})</h5>
            </h5>
            <h5 class="white--text">Rating: {{ albumsDrawer.rating }}</h5>
            <RateItModal
                    :albumsDrawer="albumsDrawer"
                    :tracks="tracks"
                    v-if="this.$route.name !== 'rated' && this.$route.name !== 'owned' && this.$route.name !== 'wishlist'"
                    @updateAlbumsCount="updateAlbumsCount($event)"
                    @commentAdded="updateComments($event)"
            ></RateItModal>

            <v-card
                    class="mx-3 my-3"
                    style="background: #514D4A" v-for="comment in listOfComments">
                <p class="subheading"><span style="color: #D58A4D">{{comment.user.nick}}</span> {{comment.content}}</p>
            </v-card>
        </div>
        <div style="margin-top: 200px" class="text-center" v-if="albumsDrawer === ''">
            <v-progress-circular
                    :size="70"
                    :width="7"
                    color="#D58A4D"
                    indeterminate
            ></v-progress-circular>
        </div>
    </v-navigation-drawer>

</template>

<script>
    import RateItModal from '../shared/modals/RateItModal'

    export default {

        props: ['rightDrawer', 'albumsDrawer', 'tracks', 'listOfComments'],

        components: {
            RateItModal
        },

        methods: {
            updateAlbumsCount(event) {
                this.$emit('updatedAlbumsCount', event);
            },

            updateComments(event) {
                this.$emit('commentsUpdate', event)
            }
        }
    }
</script>

<style scoped>

</style>
