<template>
    <v-navigation-drawer app color="#413C3C">
        <div style="background: #D58A4D; min-height: 80px"></div>
        <v-container>
            <v-row>
                <v-avatar
                        class="profilePic"
                        size="100"
                        style="background: #D58A4D">
                    <v-img :src="activeUser.photoURL"></v-img>
                </v-avatar>
            </v-row>
            <h2 class="white--text mb-2" style="text-align: center">{{activeUser.nick}}</h2>
            <v-divider></v-divider>
            <v-row align="center" justify="center">
                <v-col align="center" justify="center" sm="6">
                    <v-row>
                        <v-col class="font-weight-bold display-1 " sm="12">
                            <span style="color: lightgray">{{ albumsOwnedCount }}</span>
                        </v-col>
                        <v-col sm="12">
                            <span class="subtitle-2" style="color: lightgray">Albums owned</span>
                        </v-col>
                    </v-row>
                </v-col>
                <v-spacer></v-spacer>
                <v-col align="center" justify="center" sm="6">
                    <v-row>
                        <v-col class="font-weight-bold display-1 " sm="12">
                            <span style="color: lightgray">{{ ratedAlbumCount }}</span>
                        </v-col>
                        <v-col sm="12">
                            <span class="subtitle-2" style="color: lightgray">Albums rated</span>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>

        <v-list class="mt-5" dark style="background: #413C3C;">
            <v-list-item
                    :key="el.text"
                    :to="el.route"
                    class="tile"
                    color="#D58A4D"
                    router v-for="el in userElements">
                <v-list-item-icon>
                    <v-icon>{{ el.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>
                        {{ el.text }}
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <p style="color: #413C3C" v-show="false">{{ albumCountUpdate }}</p>
    </v-navigation-drawer>
</template>

<script>
    import {mapGetters} from 'vuex';
    import axios from 'axios'
    import {eventBus} from '../../main'

    export default {
        data() {
            return {
                activeUser: '',
                albumsOwnedCount: 0,
                ratedAlbumCount: 0,

            }
        },

        props: ['albumCountUpdate'],

        methods: {
            countOwned() {
                axios.get(`/api/users/${this.getUserId}/cds`, {
                    headers: {
                        Authorization: this.getToken,
                    }
                })
                    .then(resp => {
                        this.albumsOwnedCount = resp.data.length
                    })
                    .catch(e => console.log(e))
                return this.albumsOwnedCount;
            },

            countRated() {
                axios.get(`/api/users/${this.getUserId}/rated`, {
                    headers: {
                        Authorization: this.getToken,
                    }
                })
                    .then(resp => {
                        this.ratedAlbumCount = resp.data.length;
                    })
                    .catch(e => console.log(e));
            },

            searchAddAlbum() {
                eventBus.$on('updateAlbumsCount', () => {
                    console.log('event bus w sidebar')
                    this.countRated();
                    this.countOwned();
                })
            }
        },

        watch: {
            updateCount(oldVal, newVal) {
                this.countOwned();
                this.countRated();
                this.searchAddAlbum();
            }
        },

        updated() {
            this.countOwned();
            this.countRated();
            this.searchAddAlbum();
        },

        computed: {
            ...mapGetters([
                'getUserId',
                'getToken'
            ]),

            userElements() {
                const params = {id: this.getUserId}
                return [{
                    text: 'Dashboard',
                    icon: 'dashboard',
                    route: {name: 'dashboard'}
                }, {
                    text: 'My Account',
                    icon: 'person',
                    route: {name: 'rated', params}
                }]
            }
        },


        created() {
            this.countOwned();
            this.countRated();

            axios.get(`/api/users/${this.getUserId}`, {
                headers: {
                    Authorization: this.getToken
                }
            })
                .then(resp => {
                    this.activeUser = resp.data;
                })
                .catch(e => console.log(e));
        },

    }
</script>

<style scoped>
    .profilePic {
        margin: 5px 80px;
        border: 2px solid #363231;
    }
</style>
