<template>
  <div class="home">
    <v-img
            height="100vh"
            src="../assets/home.jpg">
      <Navbar></Navbar>

      <v-container my-5>
        <v-layout align-center justify-space-around row wrap>
          <v-flex md7 xs12>
            <h1 class="display-4 white--text font-weight-bold mb-4" style="text-align: center">Rate you favourite music</h1>
          </v-flex>

          <v-flex md7 xs12 >
            <h2 class="white--text" style="text-align: center">And share it with your friends!</h2>
          </v-flex>
        </v-layout>

      </v-container>
    </v-img>
  </div>
</template>

<script>
  import Navbar from "../components/shared/Navbar";
  export default {
    components: {
      Navbar
    },
  };
</script>

<style scoped>
</style>
